[2021-12-05 05:03] SimonBiggs opened #1586 "A logo..."
So, I figured, in preparation for this new PyMedPhys release I should actually get around to making a logo for my new company so that it can be on the team page. So, my wife and I got to making something last night. I'd be pretty keen for some feedback from you guys to see what you think :slightly_smiling_face:

![logo-draft](https://user-images.githubusercontent.com/6559099/144734333-546adfa6-223

[2021-12-06 20:52] guanfada commented on #1581
Hi Simon,
Sorry for my late reponse. I had a super busy weekend. I will try it myself first and then let you know :-)

[2021-12-07 06:37] guanfada commented on #1581
I have this error when I run
poetry install -E dev
on Windows 10 using powershell
![image](https://user-images.githubusercontent.com/25382578/144978878-b9f73e16-bebd-4763-a70b-d23a13a74d5a.png)

[2021-12-07 06:39] guanfada commented on #1581
I have python 3.9 from Microsoft store

[2021-12-07 06:45] pchlap commented on #1586
Not bad @SimonBiggs, if I'm honest it took me a minute to interpret it. But now I see AI written using some RT Beams...!? Perhaps a physicist might have seen that a bit quicker than me :D

[2021-12-07 08:04] SimonBiggs commented on #1581
I think the most painful thing about poetry is its non-helpful error
messages.

I can't immediately work out what's going wrong when you show me that.

There is also a requirement-dev.txt file, might you be able to install that
instead with pip install -r requirements-dev.txt?

On Tue, 7 Dec 2021, 5:39 pm guanfada, ***@***.***> wrote:

[2021-12-07 08:06] SimonBiggs commented on #1586
Maybe if I made the logo be grey scale instead? I'm not sure... And maybe
the AI beams need to be more clearly looking like isodoses...

Hmm... Certainly more work to go on that one...

On Tue, 7 Dec 2021, 5:45 pm Phil Chlap, ***@***.***> wrote:

[2021-12-07 15:48] guanfada commented on #1581
I tried pip install -r requirements-dev.txt
and then got this error

![image](https://user-images.githubusercontent.com/25382578/145061133-6410385f-eb80-40af-9bc2-f4c3e18c80d2.png)

[2021-12-07 20:16] SimonBiggs commented on #1581
Can you do:

pip install setuptools

And then try again?

On Wed, 8 Dec 2021, 2:48 am guanfada, ***@***.***> wrote:

[2021-12-07 21:40] SimonBiggs commented on #1586
I think I'll give the logo a pass for this release. Maybe in time for the next release :slightly_smiling_face:.

[2021-12-07 21:40] #1586 closed

[2021-12-07 21:41] SimonBiggs commented on #1579
Hi @cedricbelanger,

We're looking to make a release tomorrow to include your fix. If you don't manage to get in the team addition by then that's okay, it'll just mean it won't show up with the release on pypi:

https://pypi.org/project/pymedphys/

[2021-12-07 21:45] SimonBiggs commented on #1581
Also, before running `pip install setuptools` to attempt to fix the issue, can you make a new issue on GitHub that says something like "unable to install development version of pymedphys" and then copy in the error message text as plain text (instead of an image). That way when someone Google searches for that particular error message they will be able to find the issue with the solution :) (once

[2021-12-07 21:51] guanfada commented on #1581
sure, will do. thank you.

[2021-12-07 23:05] SimonBiggs commented on #1568
What about the following:

We can then put the rest of the larger text from Stuart's comment above right below that?

[2021-12-08 02:02] guanfada commented on #1581
after a long try, I finally solved the issues. I will open a new issue to post the problems and the solutions.

[2021-12-08 02:05] SimonBiggs commented on #1581
Thanks @guanfada :slightly_smiling_face:.

The following document is quite empty:

https://github.com/pymedphys/pymedphys/blob/main/CONTRIBUTING.md

If you there are some additions for there that you think could help someone like yourself get started in the future (even just a small couple of additions), it'd be awesome if you could add them in.

[2021-12-08 02:28] guanfada opened #1587 "[solved] unable to install development version of pymedphys on Windows 10 & solutions"
https://docs.pymedphys.com/contrib/setups/setup-win.html

(1) I tried to follow the guide here to install the development version of pymedphys on Windows 10.
I first installed the latest version of Anaconda (Anaconda3-2021.11-Windows-x86_64.exe) which has python 3.9
I set its installation folder "anaconda3" and its sub folder "anaconda3\Scripts" in path environmental variable.

(2) Then I tried to

[2021-12-08 02:29] SimonBiggs opened #1588 "Flesh out CONTRIBUTORS.md"
Right now the top level contributors document doesn't have much in it:

https://docs.pymedphys.com/contrib/index.html

This needs quite a bit of work...

[2021-12-08 02:31] SimonBiggs commented on #1587
I think we need to change from recommending an Anaconda install to instead recommend just directly installing from the Microsoft Store.

[2021-12-08 02:34] guanfada commented on #1587
The **"No module named 'cleo'** " for poetry --version** issue is caused by python 3.9 or python 3.10.
Using python 3.7 can solve it.

[2021-12-08 02:35] SimonBiggs commented on #1587
That's painful... hmmm... we can't really have a PyMedPhys development environment for Windows stuck on Python 3.7 ...

Maybe for Windows we recommend not using poetry at all? Instead using the requirements files? Hmm, not sure.

[2021-12-08 02:40] guanfada commented on #1587
Let's see :-)

[2021-12-08 02:41] guanfada commented on #1581
Once I gain more experience, I will be happy to contribute to this page.
Pls give me some time to learn first, LOL

[2021-12-08 02:42] SimonBiggs commented on #1581
Of course :slightly_smiling_face:

[2021-12-08 03:43] sjswerdloff commented on #1587
See https://github.com/python-poetry/poetry/issues/3345

which discusses the inability to import cleo in various circumstances and environments, as well as asdf

I don't know if the solution is there, but it is worth a look.

[2021-12-08 03:49] sjswerdloff commented on #1568
I'm OK with that.
One can demonstrate that PyMedPhys is supporting a medical Physicists work, but it is the medical Physicist who makes the treatment safer, and that is how I interpret that top level byline.

I'm OK with having the broader set of interests in the secondary heading

[2021-12-08 03:55] SimonBiggs commented on #1568
Yup, that is how I indented it. Quite purposefully. Maybe it is better more explicit:

[2021-12-08 03:57] guanfada opened #1589 "all the links in Recommended tutorial are invalid"
https://docs.pymedphys.com/contrib/index.html
click on any link under "Recommended tutorial" will get this:

        \          SORRY            /
         \                         /
          \    This page does     /"
           ]   not exist yet.    [    ,'|
           ]                     [   /  |
           ]___               ___[ ,'   |
           ]  ]\             /[  [ |:   |

[2021-12-08 04:12] SimonBiggs commented on #1589
Ahh, that's a shame, that was a great tutorial...

[2021-12-08 08:33] pylonsarenice opened #1592 "pymedphys and errors when using Python's unittest module"
Using pymedphys 0.37.1 installed with the [user] option under Python 3.9.9 I came across a situation where some of unittests threw an error "assertwarnsregex runtime error dictionary changed size during iteration" but only if pymedphys was imported. Example code:

`"""Warnings."""

import warnings
import unittest

# ---- If I uncommment the next line the test fails
from pymedphys import gamma

cla

[2021-12-08 16:38] cedricbelanger commented on #1579
Hi @SimonBiggs Thanks for the recall. I've been insanely busy the past weeks with university. I don't know if I'll be able to contribute more to this project so I prefer not to integrate the contributor team yet. Anyways, I'll keep using this repo and share it with my collegues :).

Best regards,

Cédric

[2021-12-08 19:57] SimonBiggs commented on #1579
Kk, your DICOM co-ordinate fix has been massively appreciated. Thank you
for the work you put in to making it happen :)

We are aiming to have a 0.38.0 release with this fix either today or next
week.

Cheers,
Simon

On Thu, 9 Dec 2021, 3:39 am cedricbelanger, ***@***.***>
wrote:

[2021-12-08 19:57] #1579 closed

[2021-12-08 20:12] SimonBiggs commented on #1592
Thanks @pylonsarenice for the report. Definitely quite keen on not having people have to reinvent the wheel as much as possible 🙂. (It's a big reason for PyMedPhys' existence in the first place 🙂)

[2021-12-09 00:41] guanfada opened #1593 "add the 1D gamma analysis example to PyMedPhys"
Hi Simon,

As we discussed before, I would like to add one example page for 1D gamma analysis.
https://pymedphys.discourse.group/t/gamma-index-for-1d-data/194/7

Please advise what I should do to add this page.

Fada

[2021-12-09 02:54] SimonBiggs commented on #1593
All you need to do is create a Jupyter Notebook file with Jupyter Lab that has your demo in it, and then drop that file in the same directory as the other gamma code, and then lastly, add the path to your file in the following location:

https://github.com/pymedphys/pymedphys/blame/main/lib/pymedphys/docs/index.rst#L45

Cheers :),
Simon

[2021-12-09 13:39] guanfada commented on #1593
Nice!
Will do. Thank you :-)

[2021-12-09 14:42] guanfada commented on #1593
Where should I put the two input .csv files containing the reference and evaluation dose data in 1D?

[2021-12-09 20:55] SimonBiggs commented on #1593
If they're small enough you might be able to just be able to copy the data
into the notebook? If that's too messy, I'll give you a separate approach.
Let me know :)

On Fri, 10 Dec 2021, 1:42 am guanfada, ***@***.***> wrote:

[2021-12-09 23:07] guanfada commented on #1593
Please tell me the separate approach to store these two input files:-)

[2021-12-09 23:15] SimonBiggs commented on #1593
Upload the files to the following repo:

https://github.com/pymedphys/data

Then use the online link to those files:

https://github.com/pymedphys/data/raw/<commit-hash-goes-here>/<filename-goes-here>

As a means to download them within a notebook using the following steps:

[code]

Then you can load up the csv files as desired :).

See the following notebook where I used that approach:

https://c

[2021-12-10 04:20] guanfada commented on #1593
![image](https://user-images.githubusercontent.com/25382578/145516737-c560596e-d221-494c-9f49-7d3a24366f21.png)

[2021-12-10 04:24] SimonBiggs commented on #1593
Just sent an org invite, that should fix it

On Fri, Dec 10, 2021 at 3:20 PM guanfada ***@***.***> wrote:

[2021-12-10 04:29] guanfada commented on #1593
just uploaded two .csv files. Thank you.
next question is where to get the commit-hash?

[2021-12-10 04:38] SimonBiggs commented on #1593
Click here:

![image](https://user-images.githubusercontent.com/6559099/145517920-c5a6a46a-c3ee-46ee-9e8f-7a55f9695304.png)

Then you have the hash here:

![image](https://user-images.githubusercontent.com/6559099/145517963-64b32cc3-694e-4bf6-9f20-3ee5cb3cfaaa.png)

[2021-12-10 04:43] guanfada commented on #1593
Got it. Thanks.
next,
![image](https://user-images.githubusercontent.com/25382578/145518409-cf5a8d76-d68f-4af4-91a9-ac732266e648.png)
I could not edit this page to insert a line like
lib/howto/gamma/from-1D-ascii

[2021-12-10 04:49] SimonBiggs commented on #1593
You could edit it locally on your own machine, or use the edit button at
the following links:

[image: image.png]
https://github.com/pymedphys/pymedphys/blob/main/lib/pymedphys/docs/lib/howto/index.md
https://github.com/pymedphys/pymedphys/blob/main/lib/pymedphys/docs/index.rst

On Fri, Dec 10, 2021 at 3:43 PM guanfada ***@***.***> wrote:

[2021-12-10 04:50] SimonBiggs commented on #1593
Probably best doing it locally though so that you can build the docs and
see that they look how you desire

On Fri, Dec 10, 2021 at 3:49 PM Simon Biggs ***@***.***>
wrote:

[2021-12-10 04:57] guanfada commented on #1593
copy that.

[2021-12-10 06:31] guanfada commented on #1593
I modified the index.rst in pymedphys\lib\pymedphys\docs
![image](https://user-images.githubusercontent.com/25382578/145526417-62dc14ce-18c3-4981-b9f8-06dca13eb012.png)
and
pymedphys\lib\pymedphys\docs\lib\howto\gamma
![image](https://user-images.githubusercontent.com/25382578/145526696-63b85237-ae0d-4f45-85f9-e60ed6ca885e.png)

I don't think I need to modify this file index.md in pymedphys\lib\py

[2021-12-10 06:37] SimonBiggs commented on #1593
You may need to run poetry run pymedphys docs --clean first

On Fri, Dec 10, 2021 at 5:31 PM guanfada ***@***.***> wrote:

[2021-12-10 06:43] guanfada commented on #1593
I run
poetry run pymedphys dev docs --clean

then
poetry run pymedphys dev docs

but still no luck :-(

[2021-12-10 06:45] SimonBiggs commented on #1593
I'm going to have to get back to this over the weekend. Let me get back to
you then :)

On Fri, Dec 10, 2021 at 5:43 PM guanfada ***@***.***> wrote:

[2021-12-10 06:54] guanfada commented on #1593
No problem. Thank you.

[2021-12-10 21:28] hdclark commented on #1579
Hi @cedricbelanger

I'm a bit late here, but what you mentioned above sounds interesting. Is the code posted anywhere yet?

I've tried to avoid CUDA as much as possible for portability reasons, but depending on the architecture it might be possible to conditionally compile when available and fallback on CPU/SIMD, or simply not bundle on CUDA-less systems. I do this already for a large geometry lib

[2021-12-13 20:31] SimonBiggs opened #1594 "Update lxml"
Hi @pchlap,

One of the first things we need to do on Thursday at our meeting at 4pm is to update lxml:

https://github.com/advisories/GHSA-55x5-fj6c-h6m8/dependabot?query=user:pymedphys

[2021-12-13 22:10] crcrewso opened #1596 "CT center vs iso center"
I'm in the middle of troubleshooting an issue, but I have one structure set where the ct center and the iso center are both non-zero. the structureset is offset by quite a bit and after some testing I've been able to prove to myself that the ct center value in the roi file isn't being used.

[2021-12-13 22:14] crcrewso opened #1597 "CT Iso is being ignored (Pinnacle Conversion)"
https://github.com/pymedphys/pymedphys/blob/3ccfb2d2a32749e11e5fff9e1b5fd2aa03b0713c/lib/pymedphys/_experimental/pinnacle/rtstruct.py#L520

I'm in the middle of troubleshooting an issue, but I have one structure set where the ct center and the iso center are both non-zero. the structure set is offset by quite a bit and after some testing I've been able to prove to myself that the ct center value i

[2021-12-13 22:49] SimonBiggs commented on #1597
@crcrewso would you be interested in submitting a PR for a fix? @pchlap would you be able to review this one?

[2021-12-13 22:52] crcrewso commented on #1597
When I get a fix of course I'll kick it back for review. Though I doubt I'm doing it the 'right' way.

[2021-12-13 22:53] SimonBiggs commented on #1597
All good, the "right way" is often far more apparent after the road has been travelled.

[2021-12-14 20:50] SimonBiggs commented on #1597
I would recommend that it is verified that the relevant section of code is covered by tests before any refactoring is embarked upon.

I'm all for having the code be readable as the number one priority. Keen for that to be improved.

If by this you mean it's not very [DRY](https://media.pragprog.com/titles/tpp20/dry.pdf) then I am very keen for that to be fixed. However, if the argument is to make

[2021-12-14 21:00] SimonBiggs commented on #1597
Here's a good example of replacing classes with a small dataclass:

https://leontrolski.github.io/mostly-pointless.html

[2021-12-17 07:07] guanfada commented on #1593
Any updates on this?
I still couldn’t figure it out.
Thank you.

[2021-12-18 01:53] SimonBiggs commented on #1593
@Matthew-Jennings might you be able to jump in and help here?

[2021-12-18 07:23] Matthew-Jennings commented on #1593
Hi there, @guanfada.

How have you made these edits? Have you created a new git branch? If so, could you please publish it to Github and create a new Pull Request?

[2021-12-18 07:25] Matthew-Jennings commented on #1596
Duplicate of #1597

[2021-12-18 07:25] #1596 closed

[2021-12-20 17:38] crcrewso commented on #1597
My previous thoughts on this were't quite right. There appears to be a transformation matrix in the *.VolumeInfo file

[code]

The next steps are to figure out where it makes sense to read in this file and how to store it relative to other information during processing. Any suggestions are appreciated.

[2021-12-21 01:18] SimonBiggs commented on #1597
@sjswerdloff do you have some thoughts here?

[2021-12-21 04:25] sjswerdloff commented on #1597
If you define a function that returns a data class or a dict (of dict of dict) of some sort that represents what you want, and you make the argument to that function the path to the VolumeInfo file, *and* you use functools lru_cache to annotate it, then it becomes more or less globally accessible (without re-reading the file, but you do need to know the path where ever you want to access the data)

[2021-12-21 04:32] sjswerdloff commented on #1597
Is there a suitable (no PHI) sample of the data that represents the issue at hand? (at least the text files involved)

[2021-12-21 05:04] sjswerdloff commented on #1597
(https://github.com/pymedphys/pymedphys/blob/3ccfb2d2a32749e11e5fff9e1b5fd2aa03b0713c/lib/pymedphys/_experimental/pinnacle/image.py?_pjax=%23repo-content-pjax-container#L177)
seems to have x and y reversed (per discussion involving brachy dose), although it's rare for those to be different in CT.

The DICOM CT image being constructed here is assuming 0,0,0 for the center rather than double checkin

[2021-12-21 16:46] crcrewso commented on #1597
I haven't had time yet to manually create a de-identified dataset. Is there a tool for Pinnacle datasets around? I was planning on doing it manually over the holiday break.

[2021-12-22 06:45] sjswerdloff commented on #1597
sed is your friend.

[2021-12-25 19:41] SimonBiggs opened #1602 "Some interesting thoughts around documentation and community building"
https://github.com/readme/featured/contributor-onboarding

@Matthew-Jennings some thought here that you might be interested in :)

[2021-12-26 06:54] guanfada commented on #1593
I just uploaded this new 1D gamma example Jupyther file and created a new pull request. Thank you! @Matthew-Jennings @SimonBiggs

[2021-12-26 07:24] SimonBiggs commented on #1593
Yup, that all looks good :) Once the tests pass I'll merge it, and ~10 mins after that the new page will be live on the docs :)

[2021-12-26 07:24] #1593 closed

[2021-12-28 08:47] IlvaHou55 opened #1605 "What distance threshold to choose with anisotropic voxel spacing?"
Hi everyone,

I was wondering what distance threshold you are using when the voxel spacing is very anisotropic (e.g. in plane (xy) voxel spacing is 0.5mm and between slices (z) is 4 mm).
What I did now is gave a vector as input of the distance threshold to deal with different thresholds in different planes, but it just outputted two arrays for each different threshold.
I think it is not fair to us

[2021-12-28 21:40] SimonBiggs commented on #1605
Hi @IlvaHou55,

Thanks for reaching out :) as a first point around the speed taken, have you tried using the `max_gamma` parameter? Also, how different to each other are your two arrays? The more different, the longer it will take without using the `max_gamma` parameter.

To see all the parameters you can tweak have a look at the reference docs:

https://docs.pymedphys.com/lib/ref/gamma.html

You

[2021-12-29 07:47] IlvaHou55 commented on #1605
@SimonBiggs Thank you for your elaborate answer! Speed is not really the issue, but it would be if my volume increases due to interpolation between slices. I'll check your options and see what suits best for my application.

[2022-01-05 00:31] scaramallion opened #1606 "DICOM networking failing with pynetdicom >= 2.0"
Some of the SOP Class object names have changed in v2.0 (like `sop_class.VerificationSOPClass` -> `sop_class.Verification`), you might want to pin v1.5.7 or update to v2.0.

[2022-01-05 22:17] SimonBiggs commented on #1606
Cheers for the heads up. Thanks @scaramallion.

@pchlap or @sjswerdloff did either of you want to see if you can look into this?

[2022-01-06 03:43] sjswerdloff commented on #1606
I will take a look shortly (but it might be this weekend)

[2022-01-06 03:49] SimonBiggs commented on #1606
Thanks @sjswerdloff :slightly_smiling_face:

[2022-01-08 04:38] sjswerdloff commented on #1606
I'm making progress (burned a few hours until discovering an extra copy of pymedphys in my site-packages that was getting picked up and used instead of my code changes).
We have two places where VerificationSOPClass is being used.
My intent is to start with the same replacement approach in each (employing hasattr(...) ) and we can refactor from there.

[2022-01-08 04:40] SimonBiggs commented on #1606
Yup, sounds like a reasonable approach to me.

[2022-01-09 02:55] #1606 closed

[2022-01-09 22:04] scaramallion commented on #1606
Thanks!

[2022-01-10 18:58] guanfada commented on #1550
I could not find "cite this repository" for PyMedPhys.
I need it for a new paper manuscript to be submitted.

[2022-01-10 20:28] SimonBiggs commented on #1550
How soon is this needed?

[2022-01-10 21:42] guanfada commented on #1550
maybe 2 weeks? Thank you :-)

[2022-01-10 21:51] SimonBiggs commented on #1550
Hi @guanfada,

I think you might have to just cite it using the guidance over at:

https://pymedphys.discourse.group/t/how-to-cite-pymedphys-repository/188

...in the future we'll be making a "PyMedPhys" paper. But ... I suspect that won't be ready in two weeks :)

[2022-01-10 22:03] guanfada commented on #1550
I just wrote this:
The gamma pass rate (%1/1 mm criteria) was evaluated using the PyMedPhys software (https://pypi.org/project/pymedphys/0.37.1/).

Does that look ok?

[2022-01-10 22:05] SimonBiggs commented on #1550
As long as it's okay within your journal's style guide, that's fine from my point of view.

[2022-01-10 22:08] guanfada commented on #1550
Please place a hold of writing a paper of PyMedPhys in your calendar :-)

[2022-01-10 22:28] SimonBiggs commented on #1550
? :)

[2022-01-13 00:15] SimonBiggs commented on #1562
Things that should be included are:

* What it's being cited for -- https://scholar.google.com.au/scholar?start=0&q=pymedphys&hl=en&as_sdt=0,5
* What is exposed in the documentation -- https://docs.pymedphys.com/
* What people are trying/using in their clinic as per the discourse group -- https://pymedphys.discourse.group/
* What is still being used at RCCC/NBCC even after I have left
  * Examples

[2022-01-13 04:44] JacobMcAloney commented on #1562
@SimonBiggs, things we still use regularly (and are still working somehow 8 months after you left):

- WL arc (including "daily" iteration)
- Metersetmap comparison
- CT extend
- Electron insert factor modelling
- Monaco archive tool

[2022-01-13 04:55] SimonBiggs commented on #1562
Heads up, a Streamlit update removed some of the things needed for CT extend... so at some point in the future a PyMedPhys update will likely break that app

[2022-01-13 04:58] SimonBiggs commented on #1562
Also, is there interest from you and/or @msobolewski in being involved in the paper writing?

[2022-01-13 05:10] JacobMcAloney commented on #1562
Can't comment for Matt of course, but I'm certainly interested to help as I can

[2022-01-14 00:03] SimonBiggs opened #1610 "Consider using Frappuccino for the API changelog"
https://pypi.org/project/frappuccino/

See its usage within the IPython changelog:

https://ipython.readthedocs.io/en/stable/whatsnew/version8.html#api-changes-using-frappuccino

[2022-01-25 15:33] David98989898 opened #1612 "Issue on page /lib/ref/gamma.html"
Hello! I cannot make the pymedphys.gamma function to work I keep getting the error that the object has no len() though it has?
My code:

[code]

Would be thankful for any help

[2022-01-25 23:01] SimonBiggs commented on #1612
Hi @David98989898 :),

Would you be able to copy in the error message?

[2022-01-26 07:40] David98989898 commented on #1612
Hi! Thanks for the reply:)

<img width="586" alt="error" src="https://user-images.githubusercontent.com/98222105/151122168-4dc88a9d-f218-4108-9a60-15960ed435e7.png">

I get the error "TypeError: object of type 'numpy.float64' has no len()"

[2022-01-26 08:16] SimonBiggs commented on #1612
Thanks @David98989898,

So that the error message is searchable would you be able to copy it in in it's text form as well? To make it display nicely you can write the following around it:

[code]

[2022-01-26 08:18] David98989898 commented on #1612
[code]

[2022-01-26 08:20] SimonBiggs commented on #1612
If you have a look at the following example within the docs:

https://docs.pymedphys.com/lib/howto/gamma/effect-of-noise.html#defining-an-example-dose-reference

You'll see that the reference and evaluation coords need to be a tuple that contain the full x, y, z coordinates as a tuple.

[2022-01-26 09:06] David98989898 commented on #1612
Then I guess it will not work because my ref. coordinates are in 1D (my input data are dose profiles where the x-axis is the ref. coordinates and evaluation coordinates, respectively)

[2022-01-26 09:08] SimonBiggs commented on #1612
1D still works, you just need to input the coords like so:

[code]

Here is a demo specifically designed for 1D data:

https://docs.pymedphys.com/lib/howto/gamma/1D-from-csv.html

[2022-01-26 09:27] David98989898 commented on #1612
I get a new error now
[code]
The error:
[code]

[2022-01-26 09:29] SimonBiggs commented on #1612
That looks like an error with your own code, using numpy

[2022-01-26 09:31] SimonBiggs commented on #1612
I'd recommend running the tutorial code as is, make sure that works. And then if it does, step by step replace from there. One important thing to check, is if you're going to use tutorial code without adjustment your data needs to be formatted the same as the tutorial's.

[2022-01-26 09:33] David98989898 commented on #1612
Yes I see that there is problem with my own data I will try to fix that. Thank you so much for your help, I appreciate it

[2022-01-26 09:34] SimonBiggs commented on #1612
My pleasure 🙂. Once you've worked it out I might call on you to help the next person? 🙂

[2022-01-26 10:35] David98989898 commented on #1612
I don't think I will be  much of a help but I can try:)

[2022-01-26 11:09] guanfada commented on #1612
make sure your csv files are real comma separated files, rather than just simply renaming from a .xls file.

[2022-01-26 11:37] David98989898 commented on #1612
That is what i did but something must be wrong because when I print the data I get a list full of nan's

[2022-01-26 18:26] guanfada commented on #1612
maybe you can just copy your data to the .xls files in the 1D gamma example, and then try again?

[2022-01-26 18:31] David98989898 commented on #1612
It worked out now. I just had to use "pd.read_csv" instead to read the csv-files. Thank you all for the help, I appreciate it!

[2022-02-08 20:37] SimonBiggs commented on #1562
Hi @Matthew-Jennings,

Might you be in a position to take a leading role in making this paper happen?

[2022-02-10 18:47] rembishj commented on #1562
@SimonBiggs Sorry I'm just getting back to this. I'm working on this now, and it can be found in the joss-paper branch.

Everyone please feel free to hop in and make changes as needed.

[2022-02-10 21:25] SimonBiggs commented on #1562
No stress @rembishj :) thanks for jumping in :)

[2022-02-11 10:40] SimonBiggs opened #1618 "Multiple dependencies dropped Python 3.7"
We'll be needing to follow suite for version 0.39.0.

To-do list when dropping Python 3.7:

- [x] Verify docs build on Windows on > Python 3.7
- [x] Remove libjpeg pinning https://github.com/pymedphys/pymedphys/pull/1619#event-6055169151
- [x] Flag with CCA the dropping of 3.7

[2022-03-10 20:39] kjfullert opened #1620 "Issue exporting MR's in the pinnacle_cli"
Is there functionality to be able to export MR modality using this repo (doesn't look like it but just checking)?  Is there a reason if it hasn't been added that it wasn't?

[2022-03-14 03:55] pchlap commented on #1620
Hi @kjfullert, it is possible to export images using pinnacle_cli. It's been a while, but based on the [docs](https://docs.pymedphys.com/cli/ref/pinnacle.html) it seems like the -i flag should do the trick. If you know the image UID you can provide that. Otherwise just provide `all` and it should export all the images available for you?

I'd imagine this works for MR images. Let me know how you go

[2022-03-15 15:52] rembishj commented on #1562
@SimonBiggs could you take a look at this and let me know what you think? Right now it is very short, and I'm not sure what else (if anything) I should add to it. Thanks!

[2022-03-15 19:37] SimonBiggs commented on #1562
Hi Jake :),

I'm currently traveling. Would you be able to provide a direct link to the document so that I can quickly find it and have a read through?

[2022-03-18 12:35] bbarbes opened #1621 "error when connecting to Mosaiq SQL"
This is the first time I use pymedphys.mosaiq.

I'm trying to perform a query in my Mosaiq. When using Microsoft SQL Server 2014 the data I read in the welcome window are 'Authentication: Windows Authentication', 'User name SR03MSQBBDD\Elekta' and 'Password' empty. Server IP address is 10.3.200.153

I tried in python:
[code]
and I get:
[code]
I write my username
`SR03MSQBBDD\Elekta`

and I get:
[c

[2022-03-18 13:39] crcrewso commented on #1621
`Login failed. The login is from an untrusted domain`

I think this is the salient error. I'm  not familiar with Mosaiq, as I come from Aria. Is it possible there's a whitelist somewhere limiting connections to only be from known good sources?

In Aria it's set up so the user has to be in a specific group (local to the machine, and known to both Windows and SQL) and the Domain of the server has to

[2022-03-18 14:11] bbarbes commented on #1621
Thanks a lot. I'll ask to my IT server.

[2022-03-18 22:49] SimonBiggs commented on #1562
Hi @rembishj,

Thanks for sending through the paper draft:

[popx37dvheex0chvtefo.pdf](https://github.com/pymedphys/pymedphys/files/8308003/popx37dvheex0chvtefo.pdf)

I think it is the right level of brevity and conciseness that JOSS reviewers are looking for.

I'm going to move this conversation over to [the pull request](https://github.com/pymedphys/pymedphys/pull/1622) where I will ping the cur

[2022-03-20 21:51] SimonBiggs commented on #1621
Hi @bbarbes,

If you're still having trouble @dg1an3 might be able to help you with this one. Once you've solved it if you could detail how you fixed it, that'd be amazing.

Having a look at the docs:

https://docs.pymedphys.com/lib/ref/mosaiq.html#connect-and-query-the-mosaiq-database

The username and password are for the Mosaiq SQL database. There is often a "reports user" set up which you migh

[2022-03-21 09:07] bbarbes commented on #1621
Thanks a lot, @SimonBiggs. At the moment, Mosaiq support does not help us too much... They wants us to pay for a Crystal Report they would kindly do... And they have been five months promising to give us support. So I don't know if there are any "reports user" setup. I will ask, anyway.

[2022-03-21 09:09] bbarbes commented on #1621
Sorry, I sent the message unfinished.
Thaks for the link. I had already read, but I will do again.
I am waiting for the response of my IT team.
Os course, I will leave my experiences.

[2022-03-21 09:25] SimonBiggs commented on #1621
I've found that even the barest of setups of Mosaiq come with this user configured. Also, we were able to ask our site IT to create a new user within the Microsoft SQL database that had the "db_datareader" permissions.

The only reason we used this custom user as opposed to the reports user, was just so that it was clear where the requests were coming from.

[2022-03-22 08:40] bbarbes commented on #1621
Indeed, when I open Microsoft SQL Server, I read "Authentication: Windows Authentication". I asked Mosaiq for help: I they are able to find a solution, I'll explain it here

[2022-03-25 01:42] SimonBiggs opened #1623 "Pre-commit bot goes into a loop whenever there is a trailing white space committed"
See https://github.com/pymedphys/pymedphys/pull/1622

[2022-04-01 08:02] bbarbes commented on #1621
Unfortunately, I haven't received any help from Elekta. They say that they don't recomend any external connection to SQL Mosaiq data base, and they won't provide any help. Besides, my IT service says that the port is opened in the firewall, and they can't help me any more.

[2022-04-01 08:04] bbarbes commented on #1621
when trying to connect, the message is
[code]
As I said, my SQL server uses Authentication: Windows Authentication

[2022-04-01 16:58] crcrewso commented on #1621
I'm going to jump in again and add a couple of thoughts. With our Aria database, there has to be a group set up inside the SQL Server with db_datareader access, and that groups members have to include your AD username.
An alternate is that the group within the database's membership is a machine local group, say DatabaseReadOnly and on the Windows machine a local group with the same name's members

[2022-04-01 18:50] bbarbes commented on #1621
Thank a lot to both of you. I will try again with IT, explaining them the hints you have given to me. I will keep you informed of the result

[2022-04-01 19:38] crcrewso commented on #1621
I'm not sure about Elekta, but for Varian, our IT staff have administration access to the VM, network and backup of the SQL server; at install the SQL database is locked down to Active Directory accounts that only Varian controls. That limits the adjustment or addition of user rights to only that account.

With Mosaiq being a [Health Canada](https://health-products.canada.ca/mdall-limh/information

[2022-04-02 02:35] sjswerdloff commented on #1621
Sounds like you want to run custom reports.  Perhaps that's the way to express it to Elekta support.
How you generate your reports might be a little unorthodox compared to using Crystal Reports but that could be considered a technical detail... As long as you can define the problem in a way that fits the existing processes you are more likely to get a helpful response.
I think that the standard pr

[2022-04-24 16:21] zism opened #1631 "Complexity index VMAT"
Hi, I'm looking to calculate segment area and total beam area from a DicomRT VMAT plan. could someone help me?

[2022-05-03 06:29] meetsandeepan opened #1632 "Issue on page /lib/tutes/index.html"
Where can I get the tutorials? I've tried texting @SimonBiggs on discourse, however that option wasn't turned on. I would like to share my notebooks for everyone to use.

[2022-05-03 07:12] SimonBiggs commented on #1632
Hi @rembishj,

Might you be able to help @meetsandeepan add some notebooks into the site specific directory?

[2022-05-03 07:12] SimonBiggs commented on #1632
Let's start there, and then from there we'll work on displaying them within the tutorial page :)

[2022-05-03 09:05] meetsandeepan commented on #1632
@SimonBiggs sure. Just so you know, I am very new to this, MS student. I think this will be a great learning challenge for me as well.

[2022-05-09 01:31] SimonBiggs commented on #1632
Hi @Matthew-Jennings,

@meetsandeepan would be keen to write up some tutorials for PyMedPhys. Would you be interested in giving them a hand?

Cheers,
Simon

[2022-05-16 22:33] SimonBiggs opened #1634 "Writing tutorials"
The PyMedPhys documentation aims to be based upon the "grand unified theory of documentation":

https://diataxis.fr/

One thing that is sorely missing are tutorials that show newcomers how they can be successful with PyMedPhys.

-- https://diataxis.fr/tutorials/

If you are interested in contributing to the PyMedPhys project this would be a brilliant way to target one of the biggest gaps for helpi

[2022-05-17 07:55] nlambriICH commented on #1634
Hi @SimonBiggs

I'd like to give my contribution on this!

Since I'm new to PyMedPhys, I think I would need some guidance aboutwhat topic I should focus on in order to start writing a simple tutorial.

Is there a specific module I should start from?

[2022-05-17 12:09] SimonBiggs commented on #1634
Hi @nlambriICH,

That would be brilliant :). An imperfect measure of what PyMedPhys is being most used for is how it is cited within the literature:

https://scholar.google.com.au/scholar?q=pymedphys

Using that to judge where best to start might be great? I have noticed a lot of people who use the gamma implementation don't use the parameters that can significantly speed up the calculation. For e

[2022-05-17 17:07] lucserre opened #1635 "pinnacle export 'all' option"
Hi,
I know this isn't a typical "issue" per se, but I was wondering if there was a way when using the experimental pinnacle export feature, to have an "all" option for plan and trial, like there is for the 'images' section. At the moment, it seems you have to either accept the default option of selecting the first available plan and trial, or specify them by name.
The CLI accepts `-i all` as input

[2022-05-17 19:53] nlambriICH commented on #1634
I think starting from a tutorial for the gamma calculation would be great! I also agree that this could be a great opportunity to write a guide on how to add new tutorials!

If I understood correctly, we need a new "Tutorials" section in the documentation of PyMedPhys. A good first tutorial would be one that explains in details the parameters used for the gamma evaluation to provide the user a dee

[2022-05-17 21:06] SimonBiggs commented on #1635
Hi @lucserre,

I'll let @pchlap take this one once he's a little more available (I think he's under the pump for the next couple of weeks). A key question though, is this something that you'd be willing to attempt implementing as well as writing a test for?

[2022-05-17 21:08] SimonBiggs commented on #1634
Yup, sounds good :). To help write it the following section on "the language of tutorials" can help act as a bit of an initial template:

https://diataxis.fr/tutorials/#the-language-of-tutorials

[2022-05-17 21:30] crcrewso commented on #1635
@lucserre I'm probably misremembering but I had thought that the system looped over all trials. I'd be happy to help make this work for you as that's exactly our use case too.

[2022-05-17 23:46] lucserre commented on #1635
I'd love to be able to help with this kind of thing, but I don't know where to start. I'm happy to _try_ and modify the code - can someone tell me which file I should be looking at?

[2022-05-18 01:12] SimonBiggs commented on #1635
Hi @crcrewso,

That'd be brilliant :). Feel free to take point on this.

[2022-05-18 07:12] SimonBiggs commented on #1634
Hi @nlambriICH,

There is a new PyMedPhys user who is keen to get their feet wet with PyMedPhys:

https://pymedphys.discourse.group/t/learning-python-in-prep-for-grad-school/215/4

Potentially they might be a great test participant of the tutorial? Potentially worth chatting with them, and getting feedback on draft iterations of the tutorial(s)? What are your thoughts?

Cheers,
Simon

[2022-05-18 18:51] lucserre commented on #1635
@crcrewso Unfortunately I can't share the datasets (privacy).
command used:    `find ./patients/ -type d -maxdepth 1 -exec pymedphys experimental pinnacle export --mrn -o ./exported/ {} \;`
This exports only the first plan and trial by default.
Various versions of pinnacle are included in our archives, mainly 8.0d and 8.0m for our center.
Each patient, can have multiple plans, each referencing a s

[2022-05-18 23:49] SimonBiggs commented on #1635
Would you be able to make a dummy dataset? Eg, from some physics patients, QA phantoms, or something of that sort?

[2022-05-19 00:10] lucserre commented on #1635
I'll give it a shot tomorrow. (I live in a North American timezone)

[2022-05-19 11:30] lucserre commented on #1635
https://ln5.sync.com/dl/e580fd7e0/txbhgtj4-kahjzfd7-yxrxxv2p-i3bhy53a
A plan with three trials on a pixie phantom.
Just for information, third trial has no dose saved.

[2022-05-19 11:44] nadKo375 opened #1636 "add roi to existing structure set"
Hi all,

I have two CTs and two structure sets (generated in TPS). I am trying to copy some rois from structutSet1 to structurSet2. The patient is the same, and most of the setting (same CT type, place where CT was taken, ...) just the acquisition date and time differs.

It seems that the append worked, so no error appear and a roi with "name" is added to structurSet2. But when I display the newly

[2022-05-19 11:45] #1636 closed

[2022-05-20 14:59] crcrewso commented on #1635
Thank you, that's a huge help
@pchlap I can see two ways of accomplishing this from the point in the code you suggested.
1. Add a flag and only process all trials with the flag
2. Change the default behaviour to always handle multiple trials (with or without a flag to revert to the previous behaviour)

Do you have any preferences?

[2022-05-20 15:04] lucserre commented on #1635
In my opinion:
Without -p or -t flags, the default behavior should be to export all trials from within all plans, as opposed to the 'first' one as currently coded.
If -p is specified, export all the trials within that plan.
If -p and -t are specified, export that specific trial from that specific plan.

[2022-05-21 03:45] sjswerdloff commented on #1635
In general I believe that it is best to not break with a previous interface without strong justification.
Extending by adding flags or arguments that doesn't break previous usage is my preferred strategy (in all my software development, FOSS or commercial).
Others may have calling scripts based on the behaviour with the current interface.
Changing the *meaning* of something can cause very signific

[2022-05-21 04:46] SimonBiggs commented on #1635
While I agree, part of the understanding behind "experimental" is that API breakages are more allowed. If there is a good reason to make the change, within experimental is the time to do it...

[2022-05-21 12:10] lucserre commented on #1635
I believe a good justification for changing the behavior in this case, is that default behavior in it's current configuration is flawed. (in my opinion, and please no offense intended - I recognize it's experimental!)
Exporting the 'first' plan and 'first' trial is likely never what any user actually wants to do, rather this would be a special case.  When someone works on a Pinnacle plans and tria

[2022-05-22 00:29] sjswerdloff commented on #1635
That is strong justification for a change.
Sold...

[2022-05-22 07:25] SimonBiggs commented on #1635
Hopefully no offense ever :). At the end of the day iron sharpens iron and by getting real feedback at the end of the day it can be made better for everyone :)

[2022-05-22 23:11] pchlap commented on #1635
Hi all,
yep I would agree with what is being said here. To be honest this was never really given much thought. As @lucserre mentions usually you would want to export a specific plan/trial, its unlikely that the first one is what you want. When I use the tool I always export a trial named FINAL, since thats the convention at our centre.

I think exporting all by default is good. One option could be

[2022-05-23 00:11] Matthew-Jennings commented on #1632
Hi @meetsandeepan, sorry for the three-week delay! I have been remiss in my monitoring of Github notifications.

You'll probably need to start with the Contributors guide. If you're using Windows, follow the instructions [here](https://docs.pymedphys.com/contrib/setups/setup-win.html)

If you're familiar with git and Github already, it'll just be a matter of creating a new pull request with a new

[2022-05-23 01:20] SimonBiggs commented on #1634
Hi @Matthew-Jennings,

Here is another user who would be interested in writing up tutorials. Might you be interested in spearheading getting these tutorials written with this group of people Matt?

[2022-05-23 01:46] SimonBiggs commented on #1635
I am happy to call it a consensus. @crcrewso and @lucserre you're free to create a PR using your discretion which of the two options @pchlap mentioned above. I suspect for now going the simpler of the two approaches would be best.

[2022-05-23 05:43] Matthew-Jennings commented on #1634
@SimonBiggs, sure, I can dedicate some time.

@nlambriICH, have you tried going through the PyMedPhys Contributors' documentation? Following the setup instructions for your OS is a good place to start

[2022-05-23 07:51] nlambriICH commented on #1634
Hi @Matthew-Jennings,

Yes, I've already followed the instructions and setup the PyMedPhys project.

I've added a new notebook with a tutorial for the gamma calculation. I think I'll submit a pull request in a short time when I think the tutorial is ready for review!

[2022-05-23 09:47] SimonBiggs commented on #1634
Feel free to submit the PR as soon as you've begun working on it, and then just use the "request review" feature once it is ready for review:

![image](https://user-images.githubusercontent.com/6559099/169792593-8dead512-b6ed-4cd3-88ce-63d554694f17.png)

That way, other's can chime in and help early before it is "finished". It would suck to be travelling in the wrong direction when most of the wor

[2022-05-25 05:07] Matthew-Jennings commented on #1634
@nlambriICH, great! Just ping me as per @SimonBiggs' instructions when you're ready. :)

I'd second his point about opening a pull request early. There's really no harm in pushing your changes from the beginning - no one is here to judge; we really do appreciate contributions and will work with you to get them in `main`.

[2022-05-25 20:28] crcrewso commented on #1635
I just submitted PR #1637 as an expedient solution to this problem. I do intend to properly refactor the code, but felt that @lucserre has been waiting too long.

[2022-05-25 20:46] lucserre commented on #1635
@crcrewso Thank you for the expediency! Definitely nothing is owed to me, so keeping me waiting shouldn't be a concern.
Unfortunately, I am away from the office, and unable to test this code until Monday. I'll definitely report back when I do.
Thanks again.

[2022-05-26 19:36] nlambriICH commented on #1634
Thanks @SimonBiggs!

@Matthew-Jennings, I've just opened the issue, thanks!

[2022-05-27 03:34] Matthew-Jennings opened #1639 "Poetry install of numpy fails on Windows + Python 3.10.4"
Just a note that I was unable to successfully run `poetry install -E dev` on a Windows machine running Python 3.10.4 (official distro)

I think it might be a bug with Poetry itself - poetry was trying to build the numpy wheel locally rather than source a suitable pre-built one. I haven't investigated too deeply, but I believe that building numpy wheels locally requires a C compiler on your machine

[2022-05-27 04:00] SimonBiggs commented on #1639
Yup, way back when I couldn't get the CI to run either:

https://github.com/pymedphys/pymedphys/pull/1559

Potentially we need to make the hard decision to drop a dependency if it isn't keep up with the Python versions and it is restricting the capacity to install.

[2022-05-27 04:03] SimonBiggs commented on #1639
The path forward here is to get to the bottom of which dependency is holding things back, determine how important it is. Then decide which of the following options is more appropriate:

* Provide upstream support to that dependency to help them be more compatible (did that with shapely and others way back when) and fix the issue
* Surgically remove dependent code from PyMedPhys that depends upon i

[2022-05-27 04:39] Matthew-Jennings commented on #1639
Well, for now I'm just happy running 3.9. Just figured it would be worth noting the issue.

Maybe I can add a note to the installation instructions? What do you think?

[2022-05-27 04:52] SimonBiggs commented on #1639
Yup, that's certainly worth it. Potentially mentioning that although
PyMedPhys works with 3.10, not all the dependencies do, and therefore, 3.7,
3.8, or 3.9 are the way to go for now.

On Fri, 27 May 2022, 2:39 pm Matthew Jennings, ***@***.***>
wrote:

[2022-05-27 07:13] Matthew-Jennings commented on #1631
Hi there @zism

A quick search of _"python mlc segment area"_ of Github yields many python-based implementations of this. They would be good places to start!

@remsky's [PredictingSRSQAFailues](https://github.com/remsky/PredictingSRSQAFailures) looks like a good example. Pay particular attention to [`calc_control_point_aperture_area()`](https://github.com/remsky/PredictingSRSQAFailures/blob/57fafd

[2022-05-27 08:00] SimonBiggs commented on #1623
I actually think I may have fixed that:

https://github.com/pymedphys/pymedphys/pull/1622#issuecomment-1085802184

Maybe we close this one, and if it rears its head we dig in further?

[2022-05-27 08:00] #1623 closed

[2022-05-27 14:23] nlambriICH commented on #1639
@SimonBiggs I would be happy to work on this, although it is completely new to me, so I'll most probably need some help.

[2022-05-27 23:05] SimonBiggs commented on #1639
That's all good, more than happy to help skill you up. Probably the best course of action is to try and install PyMedPhys locally using Python 3.10 with all of the dependencies and find out where it struggles. We'll have a better idea for the best course of action once that's targetted.

We have a bunch of tests that run for different operating systems and different python versions. The versions u

[2022-05-28 07:34] SimonBiggs opened #1644 "Maintenance tasks (as of May 2022)"
* Dependencies need updating due to a security issue and the update tests which are currently failing need rectifying
* Python 3.10 installation
* Prune old and stale issues, make it so that the only issues that are open are ones that are actually helpful to have open on the issue tracker
* Merge in (or close) all open PRs

[2022-05-28 08:05] #1631 closed

[2022-05-28 13:10] nlambriICH commented on #1644
Can we make this as a task-list and write who is working on which item? I think it would make the maintenance status more clear

[2022-05-28 13:19] Matthew-Jennings commented on #1570
I'm sorry I missed this. I think this is a relatively serious error and ought to be fixed ASAP.

@cedricbelanger, would you like to do the honours? Very happy to help if you would. But if not, let us know and I'll rectify asap.

[2022-05-28 13:26] Matthew-Jennings commented on #1618
See #1645 for point 1.

[2022-05-28 13:27] SimonBiggs commented on #1644
Yup, beautiful. I have just made a project, added you as to the PyMedPhys organisation, and then given all members of the PyMedPhys org write access:

https://github.com/orgs/pymedphys/projects/1

On there we can add in tasks, update their status, link them to issues if desired, and self assign ourselves if we're going to take it on.

[2022-05-28 13:31] SimonBiggs commented on #1570
Hi @Matthew-Jennings,

This was actually all fixed up over in:

https://github.com/pymedphys/pymedphys/pull/1575 :slightly_smiling_face:

So, we can actually close this one :slightly_smiling_face:.

[2022-05-28 13:31] #1570 closed

[2022-05-28 13:31] SimonBiggs commented on #1570
The original PR came from @cedricbelanger:

https://github.com/pymedphys/pymedphys/pull/1571

[2022-05-28 13:34] Matthew-Jennings commented on #1570
Gotcha, sorry, I should've checked more carefully!

[2022-05-28 13:36] SimonBiggs commented on #1570
All good :slightly_smiling_face:, the issue was open so reasonable to assume the issue still exists without needing to dive too much into it :slightly_smiling_face:.

[2022-05-28 13:37] Matthew-Jennings commented on #1644
Is dropping python 3.7 worth chucking in there too?

WHat would bve needed to do that, beyond verifying docs build on Windows and adjusting docs/badges etc.?

[2022-05-28 13:39] nlambriICH commented on #1644
@SimonBiggs I think it's neat, but I cannot find a way to easily access it from the pymedphys github page. Am I missing something?

[2022-05-28 13:40] SimonBiggs commented on #1570
By the way, the discussion over at https://pymedphys.discourse.group/t/gamma-index-calculation-possible-issues/191 is a pretty amazing read. @cedricbelanger did some brilliant detective work, as well as produced the fix. It was a great testament to the mistakes we can make, as well as the benefit of having an open source repository like PyMedPhys where we can fix each other's mistakes.

[2022-05-28 13:46] SimonBiggs commented on #1644
The main change is to change the following to `^3.8`:

https://github.com/pymedphys/pymedphys/blob/c9ff95f002e8497351b966cf130993474bc1f0bf/pyproject.toml#L33-L34

[2022-05-28 13:48] SimonBiggs commented on #1644
It finds itself under the org page:

https://github.com/pymedphys

![image](https://user-images.githubusercontent.com/6559099/170828263-5cfcb442-f03f-4897-a45d-b05ba48ac6af.png)

But I agree, it is obscure. I'll pin this issue, and make the link at the top of this issue to make it a bit easier to find.

[2022-05-28 13:52] SimonBiggs opened #1646 "Ongoing project maintenance"
Link to project maintenance board:

https://github.com/orgs/pymedphys/projects/1

[2022-05-28 13:53] SimonBiggs commented on #1644
Actually, I'll keep the record of this issue unadjusted, and pin a separate one:

https://github.com/pymedphys/pymedphys/issues/1646

(and close this one)

[2022-05-28 13:53] #1644 closed

[2022-05-28 13:55] SimonBiggs commented on #1644
@Matthew-Jennings, go for it. Feel free to add items to the list, adjust them, update them, adjust the status, assign yourself etc.

[2022-05-29 08:16] Matthew-Jennings commented on #1639
I believe this now works after a `scipy` upgrade. See #1648

[2022-05-29 08:17] Matthew-Jennings commented on #1618
Point 2 resolved in #1648

[2022-05-29 08:40] nlambriICH commented on #1639
I was going to work on this but I see @Matthew-Jennings already did the job, so I'll move to other issues :)

[2022-05-29 09:47] Matthew-Jennings commented on #1639
Hi @nlambriICH, yes, I'm sorry - I run into a speedbump trying to add another package for a different purpose. Dropping python 3.7 solved that (and was a standing item for maintenance from earlier) and this in turn ended up being closely tied to supporting python 3.10.

[2022-05-30 01:33] SimonBiggs opened #1650 "Anonymisation link broken within the docs"
![image](https://user-images.githubusercontent.com/6559099/170901621-80108c7d-aeb8-45bd-9ed4-7da70c044b1c.png)

-- https://docs.pymedphys.com/lib/ref/dicom.html

https://github.com/pymedphys/pymedphys/blob/f7251729b5d6655e7930854a0e558a195688025a/lib/pymedphys/_dicom/anonymise/api.py#L42

[2022-05-30 01:49] Matthew-Jennings opened #1651 "Expand DICOM anonymisation to conform to DICOM confidentiality profiles?"
Is this a worthwhile endeavour? Any idea on how much the current anonymiser is used and/or how much interest there is in a python-based anonymiser that is nicely integrable into other applicaitions (e.g. AI/big-data applications)

[2022-05-30 01:57] SimonBiggs commented on #1651
Potentially, a good first step to get a good idea of the value of embarking on something like this would be to add some usage statistics into PyMedPhys?

At the end of the day, we want to make sure we make maintenance decisions based on the magnitude of use of any given API, and we want to make sure that feature expansion hits places that have need. Here's an example of how streamlit informs users

[2022-05-30 19:07] crcrewso commented on #1651
@Matthew-Jennings Short version, I think a dependable fixed API and CLI interface would be great if its focused only on the 'many patients' use cases.

The long version: I had looked at putting in some real effort to use pymedphys to replace dicomcleaner, an old JRE app that opened up the can of security worms associated with maintaining a JRE install. We ended up using [Aliza-MS](https://www.aliz

[2022-05-31 11:38] lucserre commented on #1635
Any tips on how I can 'try' this mortification?  I've git cloned the code locally, but not sure how to work with this source code (I installed pymedphys with pip).

[2022-05-31 12:20] SimonBiggs commented on #1635
Hi @lucserre,

The PR with this fix is over at:

![image](https://user-images.githubusercontent.com/6559099/171171089-e23a89a1-c019-49f6-8950-3f188359e7a7.png)

 When you go there you can see that the code itself for the fix is over at @crcrewso's fork:

![image](https://user-images.githubusercontent.com/6559099/171171207-3294949b-d357-4a21-aeca-b5ccf8e246b1.png)

 Clicking on `crcrewso:cc-all-tri

[2022-05-31 14:35] crcrewso commented on #1635
@SimonBiggs Thank you for typing that up so quickly! I'll remember to include instructions like that in the future for situations like this.

[2022-06-04 05:18] guanfada opened #1652 "Can we write the 3D gamma results into a DICOM file?"
@SimonBiggs
I was just thinking if we can write the 3D gamma results into a DICOM file.
Thanks,
--Fada

[2022-06-04 05:22] SimonBiggs commented on #1652
It certainly is possible, but, you might find that writing the contour lines of a gamma distribution into a DICOM structure file would produce the most sensible visual results when imported into a TPS.

Would you be willing to work on it? I could provide you some starting code if that helps.

[2022-06-04 05:28] guanfada commented on #1652
@SimonBiggs
Great!
I would like to work on it.
Yes, can you please provide some starting code? Thanks!

[2022-06-04 05:48] SimonBiggs commented on #1652
If you want to convert a grid of values into contour lines that you can pass into a DICOM structure file then the following matplotlib based function can be utilised:

[code]

When contour lines are one inside another, (like a donut) then the DICOM format requires that you create a "rind". Here is some code that takes the above contours and merges them into a DICOM compatible format that handles t

[2022-06-04 05:54] SimonBiggs opened #1653 "Potentially inconsistent Rows Cols definition within Pinnacle extraction code"
https://github.com/pymedphys/pymedphys/blob/66b89ead81b3a0d010b08466a70607df8b2f87f8/lib/pymedphys/_experimental/pinnacle/image.py#L175-L176

https://github.com/pymedphys/pymedphys/blob/cb34c992de8d442eced3385018a194364060092d/lib/pymedphys/_experimental/pinnacle/rtdose.py#L226-L227

[2022-06-04 05:55] SimonBiggs commented on #1652
I also have a test suite already written that covers the above code. So, once you have some success using the above, I can also provide that test suite.

[2022-06-04 17:24] guanfada commented on #1652
@SimonBiggs This is wonderful! I will be on it, and keep you posted. Thanks so much!

[2022-06-04 20:21] pchlap commented on #1653
Thanks for reporting this @SimonBiggs, for the first case it's probably gone undetected since it's exporting planning CTs which are always 512x512... Would be good to test with an image where this isn't the case though.

Also worth noting, that that particular (image export) function is only used when no DICOMs are included in the Pinnacle raw data. If they are in DICOM they are just exported (cop

[2022-06-04 20:30] crcrewso commented on #1653
I'll talk to @AndrewWAlexander since this swap goes back to his original code

[2022-06-04 23:58] sjswerdloff commented on #1653
There must have been an older version of Pinnacle that stored them in some other way and this function is meant to convert them.

The original Pinnacle DICOM image import converted the CT into "CLIFF".
The DICOM SCP was a completely separate code base (ADAC vs Geométricas), and that conversion built into the SCP avoided significant changes to Pinnacle itself.
This was at a time when most of the CT

[2022-06-05 08:15] pchlap commented on #1653
Thanks for the background info @sjswerdloff, very interesting. If we could find some test (phantom) data in that format I can probably fix up this function pretty easily. Would you, or anyone else for that matter, have such a dataset and could make it available?

[2022-06-07 03:27] icetomato commented on #849
@chop-shape can you get the resolution？

[2022-06-07 03:28] icetomato commented on #849
@chop-shape can you get the Solution?

[2022-06-07 03:35] SimonBiggs commented on #849
@icetomato there's quite a bit of details around setting up an iCom listener over at:

https://docs.pymedphys.com/lib/howto/add-a-linac.html

[2022-06-08 05:56] SimonBiggs opened #1655 "Create a docs test that checks for broken links"
See https://github.com/pymedphys/pymedphys/pull/1654#issuecomment-1149491094

[2022-06-10 00:41] SimonBiggs opened #1656 "Detailing the SQLAlchemy debugging process"
This is a "bus-factor thread". Essentially, me documenting my approach to solve a problem with the aim to increase the PyMedPhys maintenance bus-factor.

This particular task was **aiming to** solve a dependency issue around the clash of sqlalchemy breaking changes and pandas version clashing. **The goal is** to have pymedphys being able to be installed with the latest dependencies with the curren

[2022-06-10 00:49] SimonBiggs commented on #1656
Checked out the branch in question where the dependencies had been upgraded and the tests were failing:

[code]

However still kept Python version to 3.9 to provide dependency flexibility for now:

[code]

My first goal was to replicate the failing CI tests. To run the Mosaiq tests locally need to run a Microsoft SQL server. This is achieved via a docker container in the CI suite:

https://github.

[2022-06-10 00:55] SimonBiggs commented on #1656
Within the main branch sqlalchemy is pinned to <1.4:

https://github.com/pymedphys/pymedphys/blob/f7251729b5d6655e7930854a0e558a195688025a/pyproject.toml#L57

So to begin with, I wanted to begin replicating main in that way. So, I began by installing sqlalchemy<1.4:

[code]

I didn't use poetry install directly as I just wanted to quickly hack at the installed dependencies and see the impact.

Run

[2022-06-10 01:57] SimonBiggs commented on #1656
Added in a debug logging message:

https://github.com/pymedphys/pymedphys/pull/1559/commits/42ca201ae7891f5b61afaf73f891f0c1f8b3e302

Ran a failing test with logging set to DEBUG and investigated which table was having trouble.

[code]

TxFieldPoint was the one having trouble. It is a complicated table:

https://github.com/pymedphys/pymedphys/blob/42ca201ae7891f5b61afaf73f891f0c1f8b3e302/lib/pymed

[2022-06-10 02:12] SimonBiggs commented on #1656
Actually... it was an entirely related issue. I had a section called:

[code]

And because `largebinary` wasn't in that set, that column (A_Leaf_Set) wasn't being created anymore. So, I added "largebinary" into that set, and I changed the following:

[code]

I reran the test, it passed :). Then ran all the tests, and they all passed :). So I committed and pushed the changes:

https://github.com/py

[2022-06-10 06:13] SimonBiggs commented on #1632
Hi @meetsandeepan,

Were you still interested in being able to share your tutorials?

[2022-06-10 06:16] SimonBiggs commented on #1618
Heads up @msobolewski and @JacobMcAloney,

The next release of PyMedPhys will no longer support Python 3.7 which is what is deployed across CCA. So, to use any updates that come through, Python will also need to be updated.

Also might be worth noting that the Python 3.7 end of life is in 12 months (27 June 2023). After that point Python 3.7 will no longer be receiving security updates.

Cheers :)

[2022-06-10 06:16] SimonBiggs commented on #1618
Thanks @Matthew-Jennings for your work here :slightly_smiling_face:

[2022-06-10 06:16] #1618 closed

[2022-06-10 06:17] SimonBiggs commented on #1639
I believe this is now fixed :slightly_smiling_face:

[2022-06-10 06:17] #1639 closed

[2022-06-10 06:19] SimonBiggs commented on #1651
Heya @Matthew-Jennings, happy for you to make the judgement call here. When using the only metrics we have at the moment I suspect that putting your time and work into shoring up the speed and validity of the `pymedphys.gamma` might be time better spent.

[2022-06-10 06:22] SimonBiggs commented on #849
@icetomato, let me know if you need any help. We could potentially set up a video call if that would help?

[2022-06-10 06:38] SimonBiggs commented on #1072
@Matthew-Jennings do you have an opinion on how we recommend people install Python on Windows?

[2022-06-10 06:40] SimonBiggs commented on #1150
New version of streamlit handles multiple apps already.

[2022-06-10 06:40] #1150 closed

[2022-06-10 06:41] SimonBiggs opened #1659 "Update PyMedPhys App to using Streamlits Multi-Page apps"
https://blog.streamlit.io/introducing-multipage-apps/

[2022-06-10 06:41] #1574 closed

[2022-06-10 16:38] guanfada opened #1660 "error message in gamma analysis for a feet-in DICOM"
@SimonBiggs
For most of cases I tested using gamma analysis, the patient's CT was head-in.
But for a special case with a tumor in the leg, the patient's CT was feet-in, and then I got the below "ascending" error.
Any ideas about this?
Thanks

   exec(compile(contents+"\n", file, 'exec'), glob, loc)
  File "E:/PyCharmVenv/gamma 3D TBB and TBC/001/gamma3DForDcm001.py", line 102, in <module>
    **ga

[2022-06-10 19:23] #1162 closed

[2022-06-10 19:28] nlambriICH commented on #1359
I could work on the "how to contribute" part of the documentation [here](https://docs.pymedphys.com/contrib/index.html), which at the moment is poor and has all broken links

[2022-06-10 19:31] #1562 closed

[2022-06-10 19:33] #1587 closed

[2022-06-10 23:07] SimonBiggs commented on #1660
That is interesting. It's an error message from the trilinear interpolation being utilised. But the fix would be to make it so that should a given axis be descending then within the gamma function that axis and the corresponding axis within the dose grid would just need to be flipped prior to passing it to the interpolation function.

@guanfada, might you be able to make some dummy data and create

[2022-06-10 23:08] SimonBiggs commented on #1359
That would be absolutely amazing @nlambriICH, and often all of the pain points of trying to be a new contributor are best articulated when you have just run the gauntlet.

[2022-06-11 00:19] SimonBiggs commented on #1556
So, this project did get so close to crossing the finish line and, it would be quite helpful to have an "easy distribution" option for PyMedPhys which can be downloaded from a PyMedPhys landing page (no python needed...).

I had trouble with creating a WIX installer. Potentially, for now we can just create a zip file. And then, in the future we can either try WIX without pyoxidizer, or try some ot

[2022-06-11 00:24] SimonBiggs commented on #1556
I use `asdf` locally to manage my various programming languages. And even though pyoxidizer can be installed through pip, it's preferred approach is installed as a rust create. So I am going to go that path:

[code]

I then simplified and tweaked the build config file:

https://github.com/pymedphys/pymedphys/pull/1661/commits/7110a9e2ae43c03d399ec8473a684c96de6d6bbf

And ran:

[code]

[2022-06-11 00:38] Matthew-Jennings commented on #1072
Looks good to me. `pyenv-win` is working nicely for me on Windows 10 & 11. Is this pre-commit hook edit a problem?

[2022-06-11 00:39] Matthew-Jennings commented on #1651
Agree.

[2022-06-11 00:55] SimonBiggs commented on #1556
This build got the following error:

[code]

Tracking it down the issue is within `libjpeg.src.libjpeg.doxyfilter` which is within the following package:

https://github.com/pydicom/pylibjpeg-libjpeg

And tracking to that file I see the following:

https://github.com/thorfdbg/libjpeg/blob/ea6315164b1649ff932a396b7600eac4bffcfaba/doxyfilter.py

It looks like the file was updated last month with the

[2022-06-11 00:56] Matthew-Jennings commented on #1660
Sure!

---------------

@guanfada: Just to flesh out @SimonBiggs' request a little:

Our preferred process for a bugfix like this is to employ [Test-driven Development (TDD)](https://en.wikipedia.org/wiki/Test-driven_development). When we identify a bug, we:
   1. write a **_minimal_** test in our automated test suite that replicates the bug.
   2. run the test suite and ensure that this new test

[2022-06-11 00:59] SimonBiggs commented on #1072
...I don't know...

[2022-06-11 01:03] Matthew-Jennings commented on #1072
Sorry, I mean to say: what issue are you referring to? Was it obvious? All of my recent contributions were with `pre-commit` and `pyenv-win` in combo, but maybe the issue you were referring to is silent?

[2022-06-11 01:43] SimonBiggs commented on #1072
Past me didn't leave enough breadcrumbs here. Let's make the change for now, and if it rears its head again we need to document it better...

[2022-06-11 17:15] guanfada commented on #1660
@SimonBiggs If I understand correctly, I can create two dummy DICOM RD files with the feet-in orientation, and then do a test, right?
@Matthew-Jennings Thanks a lot for the detailed instructions! I don't have any experience in TDD :-) Let me try.

[2022-06-11 23:03] SimonBiggs commented on #1660
Yup, that's right. And the test is essentially just running those two files through the gamma function and having it replicate that error above.

[2022-06-12 00:47] SimonBiggs opened #1662 "Outputs from new tutorial not being rendered"
Normally the docs server should run the notebook and render the outputs, that hasn't happened for the new notebook though:

https://docs.pymedphys.com/lib/tutes/gamma/gamma_tutorial.html

[2022-06-12 04:15] Matthew-Jennings commented on #1662
To help diagnose this issue, are you in a position to outline in some detail the infrastructure behind the docs? I.e.,
- what tools?
- what features of those tools?
- known issues or decisions made with reasons

And we could work on including them in the docs for bus-factor purposes?

I ask because I'm really at a loss where to start here. Some of this I used to know but have forgotten.

[2022-06-12 04:21] Matthew-Jennings commented on #1660
Great!

PyMedPhys is a complex beast and there's no need to spend significant time trying to grok it yourself. There might be questions you have that we could answer very quickly to save you time. Please don't hesitate to ask for help.

I would be perfectly happy to have a Zoom meeting or similar to get you started. @SimonBiggs too, I daresay ;p

[2022-06-12 04:37] guanfada commented on #1660
@Matthew-Jennings @SimonBiggs
Fantastic. Let me first prepare two dummy DICOM files with feet-in, probably next week. I will let you guys know then.

[2022-06-12 06:14] SimonBiggs commented on #1662
Yup, happy to :slightly_smiling_face:

The top level tool is Jupyter Book:

https://jupyterbook.org/en/stable/intro.html

Under the hood it uses Sphinx. But, at the end of the day Jupyter Book's docs (linked above) should help us find the answers we seek.

Pretty much just its default setup

As much as possible trying to use vanilla Jupyter Book so as to minimise bus-factor issues due to weird cus

[2022-06-12 10:43] #1662 closed

[2022-06-12 12:13] nlambriICH commented on #1662
Just to flag this as a "bus-factor" and avoid the same issue in future tutorials, what was the root cause?

[2022-06-12 12:34] Matthew-Jennings commented on #1662
Perhaps a couple of TODOs could be:
- introduce a doctest that checks for JPN output display? (not sure on feasbility - never written one)
   - or perhaps at least include in contributor docs on writing documentation?
- introduce some sort of test (or pre-commit hook?) that checks JPN metadata

[2022-06-12 12:47] nlambriICH commented on #1662
I think this should be the way to go (although I don't have any experience to implement it)

[2022-06-12 12:58] SimonBiggs commented on #1662
Actually we can pass the `-w` flag to the jupyter book build command. This makes all warnings become errors and will mean we will pick up this and other issues...

Only thing is, right now, we have quite a few warnings to deal with  before we can begin turning that flag on. Ideal scenario, the docs builds with no warnings, and then we set the `-w` flag, and then whenever we do something that bring

[2022-06-12 23:54] Matthew-Jennings opened #1665 "Docs reorganisation (again!)"
Hi all,

I think the docs could really benefit from some simplification. A while ago, a decision was made to embrace a framework that included _background_, _tutorials_, _how-to-guides_ and _reference_. In retrosprect, I think this was premature and I think it's partially responsible for the docs feeling a little skeleton-y. The sidebar doesn't nicely match this framework.

I'd like to brainstorm

[2022-06-13 00:00] SimonBiggs commented on #1665
Please make sure before anyone comments, if we could make sure we have all read through the complete justification and approach detailed at:

https://diataxis.fr/

(It would also help us align better to the approach)

[2022-06-13 00:03] SimonBiggs commented on #1665
I really like this break down, and it is much cleaner than what we have currently.

[2022-06-13 00:10] Matthew-Jennings commented on #1665
I guess I'd just add that the diataxis framework could still be applied, just not at top-level.

Though I would still argue that it is an over-complicated framework for _our_ needs and at our current level of documentation. We could consider re-embracing as our documentation grows.

A probably stronger argument for my proposed simplification is centred around _familiarity_. [Numpy](https://numpy.o

[2022-06-13 00:14] SimonBiggs commented on #1665
Most definitely. In fact, they go into exactly this approach you detail:

![image](https://user-images.githubusercontent.com/6559099/173259423-489e22d2-7339-4fed-9ee7-c7a798d62b19.png)

Probably a key document for us to read through is the following:

https://diataxis.fr/tutorials-how-to/

Which explicitly details the difference between how-to and tutorials.

[2022-06-13 00:29] SimonBiggs commented on #1665
Also, here's numpy's justification for adopting https://diataxis.fr/:

https://labs.quansight.org/blog/2020/03/documentation-as-a-way-to-build-community/

[2022-06-13 00:37] SimonBiggs commented on #1665
Other big name open source groups have also done this quite well:

https://ubuntu.com/core/docs

[2022-06-13 00:39] SimonBiggs commented on #1665
And for another good example of the approach, from the person who created it:

https://docs.divio.com/en/latest/

[2022-06-13 00:50] Matthew-Jennings commented on #1665
One thing to consider: sometimes the best end-result framework is not the best interim one.

I suspect diataxis _is_ a lovely solution with well-fleshed out documentation. It just feels to me to be too early for that with the documentation as it currently stands. And I just don't see a strong, concerted effort from the PyMedPhys contributors to flesh out the docs to a degree that diataxis works we

[2022-06-13 00:53] Matthew-Jennings commented on #1665
I should note though that it's the top-level structure and the added benefit of feature-categorised links in the overview or somewhere else useful that are the big things I'd like to see changed/added.

The diataxis stuff is a minor point to me.

[2022-06-13 00:54] Matthew-Jennings commented on #1665
That seems pretty reasonable to me.

[2022-06-13 00:55] SimonBiggs commented on #1665
Please iterate further :slightly_smiling_face:

[2022-06-13 01:03] SimonBiggs commented on #1665
Justification for nesting Application, CLI and Library under getting started is that it means for 95% of visitors to our documentation (people just testing the water who may or may not ever go onto use PyMedPhys) everything they want will be in the one place. Under "getting started". And under getting started we will have 4 tutorials, one being the quick-start guide. The other three covering the t

[2022-06-13 01:05] Matthew-Jennings commented on #1665
That kinda proves my point though, mate. A year later and still far from feeling complete (not a criticism, a recognition of the gargantuan task that it is - especially for a community of volunteers).

[2022-06-13 01:07] Matthew-Jennings commented on #1665
Sounds good to me.

[2022-06-13 01:15] Matthew-Jennings commented on #1665
Fair enough. It just seems to me better to have a tutorials section only once we actually have tutorials! Having one in the hope that some will be written soon is putting form over function and not my preferred approach.

That said, I'm not _strongly_ opposed to going for your "getting started" solution, especially if you're confident these getting started guides will be fleshed-out soon. So, I'll

[2022-06-13 01:16] Matthew-Jennings commented on #1665
On that point, I think I can help achieve this.

[2022-06-13 01:26] SimonBiggs commented on #1665
By the way, for some stats to backup my statement. Across the last three months visitors to docs.pymedphys.com we had 2254 new users and 2339 users (96% new users):

![image](https://user-images.githubusercontent.com/6559099/173263370-6b24fa2f-0aef-44d3-b1fd-1f62742f6cf8.png)

For an idea on which parts of the docs people are using most:

![image](https://user-images.githubusercontent.com/6559099/

[2022-06-13 01:28] Matthew-Jennings commented on #1665
which statement, sorry?

[2022-06-13 01:31] SimonBiggs commented on #1665
That my 95% statement wasn't just pulled out of thin air (https://github.com/pymedphys/pymedphys/issues/1665#issuecomment-1153350663) -- it was actually pulled out of thin air... so I went looking for the stats ... ... and 96% vs 95% is a pretty good guess :slightly_smiling_face:

---

Also, when adjusting the structure of the docs, we need to be careful to, if possible, not change the web-address

[2022-06-13 01:36] Matthew-Jennings commented on #1665
Argh... so much for beta! :D

Oh yes, sorry, I do agree with this (even in the absence of the stats, I would've guessed this - perhaps with less accuracy though!).

If we're going to make/continue with a concerted effort to add tutorials, it makes sense to have a spot for them. My disagreement lay in the idea of over-expanding the structure before having sufficient content to fill it and for the c

[2022-06-13 01:39] SimonBiggs commented on #1665
I think honour where honour is due. @nlambriICH has paved the way here :slightly_smiling_face:, I have just been a sign post. (And plan to continue to be a sign post for the foreseeable future).

[2022-06-13 01:42] SimonBiggs commented on #1665
And... potentially we should collect a list of URLs which we put within a nighty scheduled test runner that verify those URLs aren't broken? I would be happy to set that up if you @Matthew-Jennings wanted to spear-head this documentation effort?

[2022-06-13 01:44] Matthew-Jennings commented on #1665
Yep, happy to!

[2022-06-13 01:46] SimonBiggs commented on #1665
...also... I think it's probably time for us to leave beta... (https://github.com/pymedphys/pymedphys/issues/1056)

[2022-06-13 08:09] nlambriICH commented on #1665
I agree that the documentation structure could be improved.

Probably the best approach for the new tutorials section would have been to put it into the official docs once some of them had been created (perharps by creating an issue with a task list of tutorials to be written).

Anyway, I think the proposed structure improves the current one, but: what do you think of the effort and ETA for such r

[2022-06-13 08:22] Matthew-Jennings opened #1667 "JOSS paper review"
Current status:
~~PRE-REVIEW~~
~~REVIEW~~
**PUBLISHED**

See [#4470](https://github.com/openjournals/joss-reviews/issues/4470)

[2022-06-13 09:02] SimonBiggs commented on #1665
A while back I detailed things that I thought needed to happen before a 1.0.0 release:

https://github.com/pymedphys/pymedphys/issues/1056

If I had the choice of a single focus though, I think the documentation is more important. And at the end of the day, I just think we need to treat PyMedPhys *as if it is* out of beta for a while, and once we're doing that successfully, that'll probably be a g

[2022-06-13 10:15] nlambriICH commented on #1665
The proposed documentation structure looks good to me!

I could work on the PR section of the contributors guide (as I mentioned in #1359).

[2022-06-13 14:18] #1656 closed

[2022-06-13 21:27] SimonBiggs commented on #1665
And having that top-level contributor document sorted out is a key requirement to be able to become part of NumFOCUS:

https://numfocus.org/projects-overview#:~:text=What%20are%20the%20requirements%20for%20a%20project%20to%20join%20NumFOCUS%3F

I suspect, any gaps within what it takes to be a NumFOCUS approved project is something we should be aspiring for, and it would be quite helpful to be able

[2022-06-13 21:59] SimonBiggs commented on #1665
As another flag, when clicking the following link within the documentation overview:

![image](https://user-images.githubusercontent.com/6559099/173452377-84b72c5d-3bae-48d4-9cb3-75d5285a10b7.png)

We're taken to the following page:

https://docs.pymedphys.com/lib/tutes/index.html

[2022-06-14 01:30] guanfada commented on #1660
@Matthew-Jennings My two Dummy dicom files are ready, and I got the same error.
ValueError: The points in dimension 0 must be strictly ascending

[2022-06-14 02:30] Matthew-Jennings commented on #1660
Hi @guanfada,

Okay, so there are a few ways to approach this:

1. You could create and upload new, full DICOM files to the test data (stored on Zenodo) and write tests that run on this data. This is probably the least preferable option, since:
   - it requires more to set up and adds to the size of the existing PyMedPhys test data stored in Zenodo, which we'd like to keep small, and
   - it makes

[2022-06-14 02:32] Matthew-Jennings commented on #1660
Oh, I haven't seen this!

[2022-06-14 02:36] Matthew-Jennings commented on #1660
One final point, we have _existing_ FFS data that would likely suit.

[2022-06-14 02:37] SimonBiggs commented on #1660
I think you've overviewed the options perfectly :slightly_smiling_face:. I wonder if there might be value in creating a contributor FAQ in the docs where we just link to historical GitHub comments like these? They would provide a great reference...

I'm happy for you to guide @guanfada the way you think would be most appropriate :slightly_smiling_face:.

Yeah, I'm no longer asking people to upload

[2022-06-14 19:31] crcrewso commented on #1653
I discussed this with @AndrewWAlexander. He doesn't remember asymmetric CT's or asymmetric dose files ever coming up in testing. At best guess this is a mistake but we won't know for sure unless there is a dataset we can build a test case around. Does anyone who has access to a working pinnacle 8.x environment know if it's possible to create or save a test case that would fill this need?

[2022-06-14 22:31] guanfada commented on #1660
@Matthew-Jennings @SimonBiggs
  "RD.TBB_water_feet_first.dcm": "https://github.com/pymedphys/data/raw/036024218650eb5df62a04f2673b83375e8804b5/RD.TBB_water_feet_first.dcm"
  "RD.TBC_water_feet_first.dcm": "https://github.com/pymedphys/data/raw/036024218650eb5df62a04f2673b83375e8804b5/RD.TBB_water_feet_first.dcm"
have been added to pymedphys/lib/pymedphys/_data/urls.json

[2022-06-14 22:33] SimonBiggs commented on #1660
Make sure you submit a pull request so that your changes can be merged into the main branch:

https://github.com/pymedphys/pymedphys/blob/main/lib/pymedphys/_data/urls.json

[2022-06-15 01:43] guanfada opened #1670 "request to be added as a contributor"
Hello, @pchlap @SimonBiggs
Can you please add me to the active contributor list?
Thanks!

Fada

[2022-06-15 01:47] SimonBiggs commented on #1670
Hehe, just a small tweak @guanfada, it's a bit of a "right of passage" to fumble through the land of git and GitHub (and PyMedPhys overly complicated and in need of simplification propagate system).

So you'll be adding yourself :) and we'll be reviewing and approving the addition. But also, more than happy to help you through the process. (Also... @nlambriICH is also going to do the same and plan

[2022-06-15 02:44] guanfada opened #1671 "Some gamma values being skipped/ignored"
My understanding is the len(valid_gamma) is the # of points with dose >= lower_percent_dose_cutoff * np.max(dose_reference).
It is the # of non-nan gamma points.
So the gamma pass criteria won't impact the value of len(valid_gamma).
However, I recently found that for some DICOM files (not all of my DICOM files), changing from (2%/2mm) to (1%/1mm) can get a smaller # of valid gamma points.
But if I

[2022-06-15 02:49] SimonBiggs commented on #1671
Essentially anything that can cause the result to be NaN would result in it being removed from `valid_gamma`. If everything is going according to plan that should only be due to the `lower_percent_dose_cutoff`. If you have a case where that isn't true it would be very helpful to be able to replicate it as a bug within a test.

[2022-06-15 02:51] pchlap commented on #1670
Definitely happy to help here @guanfada. I see you previously already forked the pymedphys repo and put through a pull request with some changes? This will work in the same way:
1. Make sure you're on the `main` branch and make sure you're up-to-date with all the latest changes: `git pull`
2. Find the main [`README.rst`](https://github.com/pymedphys/pymedphys/blob/main/README.rst) file and find th

[2022-06-15 02:52] guanfada commented on #1671
let's see another case. No change in # of valid gamma points between 2%/2mm and 1%/1mm.
![Global gamma_histogram](https://user-images.githubusercontent.com/25382578/173726521-b1289ba2-5332-4d40-a7d0-296044ed92fb.png)
![Global gamma_histogram](https://user-images.githubusercontent.com/25382578/173726542-304c42c2-9328-4d44-8d47-f80b240cdcc6.png)

[2022-06-15 02:55] SimonBiggs commented on #1671
I think to help with the investigation if you select some slices where it is NaN in one but not the other and see if there is any pattern?

One thought might be some mishandling of points near the edge of the image.

[2022-06-15 02:55] guanfada commented on #1670
@pchlap will do it tomorrow. Thanks a lot!

[2022-06-15 03:00] guanfada commented on #1671
Yep, I did check the slices and found some obvious errors. For example, see below.
The 1%/1mm gamma map is not correct because the target region (high dose) does not show gamma at all.
![dose maps and Global gamma results_sliceZ106](https://user-images.githubusercontent.com/25382578/173727406-cb5d3591-860a-4419-9572-11f0accb2597.png)
![dose maps and Global gamma results_sliceZ106](https://user-ima

[2022-06-15 03:01] pchlap commented on #1653
Thanks @crcrewso. I don't have access to any Pinnacle pre 9.0... However I just wanted to note that I think this is really only an issue around the image conversion. I believe that asymmetric doses are much more common. I think the user can freely select which area the dose grid should cover, so the cubes they choose don't really have any consistency. Here's a sample dose grid size from some of ou

[2022-06-15 03:24] SimonBiggs commented on #1671
That _is_ concerning. Out of interest is this right at the end (or very close to the end) either superiorly or inferiorly?

[2022-06-15 03:41] SimonBiggs commented on #1671
Would you be able to print out what those values there are in fact? Are they `np.nan` or are they `np.inf`?

https://github.com/pymedphys/pymedphys/blob/6937133f456d63e38583c1521d9b79de3c3b45e2/lib/pymedphys/_gamma/implementation/shell.py#L271-L276

[2022-06-15 04:57] Matthew-Jennings commented on #1660
Okay, I can see that the files have been uploaded and added to `urls.json`. Now it's time to write the test!

How would you like to proceed? I'm happy to arrange for a videocall "pair programming" session, but I suspect that you'll already be able to make significant progress independently. To that end, I would suggest that you:

1. create and checkout a new local branch of `pymedphys` on your wor

[2022-06-15 20:00] SimonBiggs opened #1681 "Move propagate copies to docs build"
@Matthew-Jennings the copying steps within propagate have been a thorn in our side. It doesn't help that the CI is flakey. We could keep pushing on making the CI better, but I think there is a fundamentally better design.

I could make it so that the readme, changelog, and contributing docs only exist in one place, at the root of the repo. And then, within the pymedphys dev docs command initiate a

[2022-06-16 00:59] SimonBiggs commented on #1671
I think a good path forward to fixing this is to first write up the failing test with some dummy data. For example pass two quite small 3D made up dose distributions with one shifted / scaled a bit. And potentially just have the test be running gamma with both 1%/1mm and 2%/2mm and assert that they have the same `valid_gamma` counts (which then fails to produce the failing test initially).

[2022-06-16 02:15] guanfada commented on #1671
@SimonBiggs Good idea! I will work on it later this week.

[2022-06-16 07:31] sjswerdloff commented on #1667
The feedback was that they could not understand from the readme file what this software does.
I looked at a JOSS paper at (pseudo) random, and it was for software that calculated a very particular approach to solving a Riemann Problem.
If the readme needs to describe "when I use this software I solve this specific problem with it", then we might want to list what specific tasks people use it for.

[2022-06-16 07:59] Matthew-Jennings commented on #1667
You beat me to the punch! I agree, and I like your wording.

One example that is perhaps not _too_ different from PyMedPhys is [GEMMI: A library for structural biology](https://joss.theoj.org/papers/10.21105/joss.04200). In their paper (which is hardly any larger than our own submission), they do state:

and then give a two-or-three sentence description of each of those three areas.

There are oth

[2022-06-16 08:46] Matthew-Jennings commented on #1665
@SimonBiggs, if you really want to promote the Discourse, have an icon/link to it visible on every page (i.e. in the sidebar, or in some footer-like "frame), describe it in some detail on the PyMedPhys landing page (_with_ icon - visual cue), and refer to it in obvious places (like getting started docs).

I do think that the "plugin" we used to have was super ugly.

[2022-06-16 09:36] sjswerdloff commented on #1667
I would prefer to abstract it a bit.  the library technical reference is oriented towards individual tasks.
I would prefer to abstract to these three kinds of tasks:

Data Conversion/extraction from the proprietary formats of a variety of Radiotherapy systems:
   Two treatment planning systems (I thought I saw Monaco conversion in there somewhere, and Pinnacle is clearly addressed)
   One Oncology

[2022-06-16 10:17] #1681 closed

[2022-06-16 10:42] SimonBiggs opened #1683 "Simplify propagate check"
The propagate check really only needs to do a hash of the pyproject.toml file and make sure it agrees with the saved hash. It doesn't need to run propagate within the CI. This would be seconds instead of minutes. Make this change to ease the load on our CI suite.

[2022-06-17 01:19] Matthew-Jennings commented on #1667
Fair enough. I think that all sounds great!

I _might_ have some time today.

[2022-06-17 04:31] SimonBiggs opened #1685 "Make the docs CI test install in the same way as readthedocs does"
Right now the CI tests installs with poetry, readthedocs directly with pip. Make the CI mimic the readthedocs approach so as to pick up weird install issues.

[2022-06-17 05:41] Matthew-Jennings opened #1686 "Gamma speed-up howto - random subset"
Hi @nlambriICH and @SimonBiggs,

I've just happened to notice that the example used to demonstrate the speed-up potential of using `random-subset` is not very compelling. I.e., for a 10% sample rate (which is arguably fairly aggressive), the howto only demonstrates a 20% reduction in gamma calculation time - hardly worth it.

I think we should use a 3D example. In my previous experience, use of th

[2022-06-17 06:15] SimonBiggs commented on #1686
Were you using `max_gamma` when that happened?

[2022-06-17 06:37] SimonBiggs opened #1687 "App demo within the docs"
Heya @Matthew-Jennings,

If you would like, the app demo is now live again over at:

https://share.streamlit.io/pymedphys/pymedphys/main/app.py

That can be included in the docs if you would like?

[2022-06-17 06:54] Matthew-Jennings commented on #1686
We're talking about a long time ago, but my best recollection is that both `max_gamma` and `random_subset` _independently_ improved calculation times markedly, with `random_subset` proving the more effective (which I think would make sense for dosegrids that are expected to match relatively well).

[2022-06-17 07:47] nlambriICH commented on #1686
Yup, I used a 2D slice to avoid dealing with large computation times which increase really fast.

@Matthew-Jennings I'm kinda busy right now... Might you be interested to test it locally using the whole 3D dose (or a subset)?

[2022-06-17 08:00] Matthew-Jennings commented on #1686
Sorry @nlambriICH & @SimonBiggs, I'll be travelling and out of action, development-wise, for the next two weeks. Should still be able to review though.

I don't think this is particularly urgent or anything, just a proposed improvement upon an otherwise lovely howto.

[2022-06-18 21:08] guanfada commented on #1671
@SimonBiggs
For the 1%/1 mm case, when I change the 'interp_fraction': 10,  # Should be 10 or more for more accurate results
from 10 to 5, the calculated # of valid gamma points is the same as (2%/2 mm with 'interp_fraction': 10.) and gamma value maps on different slices are reasonable.
So I believe, in 1%/1mm, the super fine evaluation grid size of 0.1mm (1mm/10) can bring some issues, but NOT fo

[2022-06-18 23:10] guanfada commented on #1671
@SimonBiggs
In pymedphys 0.38.0, in the shell.py, logging.info("**Computing** the gamma using global normalisation point")
But when I run my gamma analysis jobs, the output is still the old one "Calcing using global normalisation point for gamma"

I checked my version and am sure that I am using pymedphys 0.38.0

[2022-06-19 01:36] guanfada commented on #1671
@SimonBiggs
This completely drives me mad.
(1)
I just did the 1%/1mm, with 'interp_fraction': 10 on my Windows laptop, the # of valid gamma is the same as 2%/2mm. My Python is 3.7.5, and pymedphys is 0.38.0.
Only when I used a Linux cluster to do calculations, the 1%/1mm, 'interp_fraction': 10 could give strange results (for some cases, not ALL) It has Python 3.7.0 and pymedphys0.38.0

(2)
I used

[2022-06-19 01:40] SimonBiggs commented on #1671
That is very intriguing :/. Something important to grab is what the scipy and numpy versions are on the cluster in question.

Once you have something to replicate it I can run it on my Linux machine here too...

[2022-06-19 01:48] SimonBiggs commented on #1671
Even if it only happens sometimes we really should have a test to replicate it, even if just to flag it should it happen on one of our test environments.

[2022-06-19 01:51] guanfada commented on #1671
I am going to submit a calculation job to Linux cluster now.
I will check the version of scipy and numpy soon.

[2022-06-19 02:31] SimonBiggs commented on #1671
It would also be worthwhile finding out what dtype is being used for the
dose and coordinates data storage. If it's using something weird like a 16
bit float (
https://numpy.org/doc/stable/reference/arrays.scalars.html#numpy.float16)
that might be why it throws a wobbly when you interpolate it...

It also might be something worth trying locally. Force the dose grid to be
saved as a float16 and see

[2022-06-19 03:47] guanfada commented on #1671
In the Linux cluster:
numpy 1.16.1
scipy 1.2.0

On my Windows laptop:
numpy 1.21.4
scipy 1.7.3

[2022-06-19 03:56] guanfada commented on #1671
I just tested the 1%/1mm, 'interp_fraction': 10 in the Linux cluster and the results are reasonable.
It's strange.
Last time's incorrect results are not repeatable.

[2022-06-19 04:44] SimonBiggs commented on #1671
That is very weird. If you can manage to repeat it that would be amazing to be able to try and protect against the issue...

[2022-06-19 04:45] SimonBiggs commented on #1671
Does every node on the cluster have the same scipy version?

[2022-06-19 07:54] icetomato commented on #849
@SimonBiggs

Thank you, I will try this method   https://docs.pymedphys.com/lib/howto/add-a-linac.html        and  i just want konw if the hospital don't have NSS   how  can i   get icomlogs   safety  and don't let the treatment machine  doesn't  work
just like  this
![image](https://user-images.githubusercontent.com/13519059/174471292-9ed7af53-152d-40ff-b554-436e82ed4190.png)

[2022-06-19 08:47] SimonBiggs commented on #849
The lose connection issue is common to all iCOM listeners that listen to Elekta's standard interface. I have observed it occuring when there is an abrupt network disconnect between the iCOM listener and the linac. Such as a power failure on the computer running the listener software, or disconnecting the network cable on the iCOM listener.

I would be surprised if your Linac didn't have an NSS. I

[2022-06-19 20:08] guanfada commented on #1671
I just upgraded them to numpy-1.21.6 and scipy-1.7.3 on the Linux cluster.
I think the computation nodes all invoke the user version of scipy and numpy packages.
So, I think now they are all using the latest version. (in the past, the system's old versions were used)
I just submitted jobs for running. Let's see.

[2022-06-21 04:39] SimonBiggs opened #1690 "Attempting to create a C# gRPC API to PyMedPhys"
Why:

To go through the motions end-to-end for C# development. In the process, make something useful. Potentially a pymedphys gamma package that can be used within C# within the ESAPI?

---
[Previous]

Why:

To see how plausible the approach is, potentially able to be utilised to expose other APIs also. The approach can also allow for the creation of a Java API also, if that is desired.

Steps:

*

[2022-06-21 05:01] SimonBiggs commented on #1690
Built the pyoxidizer binary with:

[code]

Tested that iCOM worked with the binary:

[code]

[2022-06-21 05:11] SimonBiggs commented on #1690
Set up C# with `asdf` following instructions over at:

https://github.com/hensou/asdf-dotnet

[code]

[2022-06-21 05:26] SimonBiggs commented on #1690
[code]

Copied in the following gitignore file:

https://gist.githubusercontent.com/takekazuomi/10955889/raw/734642c6760915003d36bb124fdae03bb293ae4f/csharp.gitignore

[2022-06-21 05:34] SimonBiggs commented on #1690
Follow gRPC installation:

https://github.com/grpc/grpc/blob/v1.46.3/src/csharp/README.md#how-to-use

Add Grpc and Grpc.Tools as a packages:

[code]

[2022-06-21 05:56] SimonBiggs commented on #1690
https://github.com/pymedphys/pymedphys/pull/1689/commits/8b9b988431c0feab643c7e2c7b9741f3cdb66cc6

Change the target frameworks to net6.0:

[code]

Run GrpcHelloWorld:

[code]

Server:

[code]

Client:

[code]

[2022-06-22 02:26] guanfada commented on #1671
All of my most recent calculations in the Linux cluster for 1%/1mm have the same # of valid gamma points as in 2%/2mm.
So, we may close this issue because I can't prove it is a bug in PyMedPhys.

[2022-06-22 02:35] SimonBiggs commented on #1671
kk, thanks for letting us no @guanfada. I think it would be worth us keeping an eye on it. It would be quite the serious issue if it was true.

[2022-06-22 02:35] #1671 closed

[2022-06-22 21:37] SimonBiggs opened #1692 "Broken docs link"
Hi @Matthew-Jennings,

The following link is broken on the GitHub README page:

![image](https://user-images.githubusercontent.com/6559099/175143039-d13a280c-9033-4e41-9867-5f8e40d32d82.png)

Might you be in a position to fix that?

[2022-06-23 03:44] #1690 closed

[2022-06-25 09:47] nlambriICH commented on #1686
I did some testing using the 10 slices above and below the maximum dose mismatch of the 3D distribution (and shifting the evaluation dose as in the how-to).

The following are the computation times I obtained on my machine:

1. Using default gamma parameters: 9min 39s
2. Using `max_gamma=1.01`: 7min 11s
3. Using random_subset to sample 1/10th of the points: ~10min 15s (tried twice)

Do you have an

[2022-06-25 10:03] SimonBiggs commented on #1686
Wow... That is interesting about the random subset... It also shows just how slow it can end up getting. Do you think people are often going to want to compare distributions with gamma pass rates that low?

Does your machine happen to have a GPU?

[2022-06-25 11:01] nlambriICH commented on #1686
The pass rate in the how-to is Indeed really low... In the new tests I run it raised above 50%. I think it's still too low compared to real applications (I could try find a value in the shift of the dose reference for which the pass rate is near 90%).

It does have one but is not vert performing (I can't remember right now the model name)

[2022-06-28 14:59] crcrewso commented on #1653
@pchlap A question about standards from before my time. Is it possible, or part of any standard standard, for any CT image generated from that era to be an asymmetric resolution or dimension? If not I would propose that we modify image.py to maintain consistency, and document with comments at both points in the code. Getting datasets from that era to satisfy the test condition might be unrealistic

[2022-06-28 21:22] SimonBiggs commented on #1653
I'm happy to go with this path on the condition that we wrote a function like the following and call it in all locations where X and Y coords are used:

[code]

[2022-06-28 21:26] crcrewso commented on #1653
I like where you're going with that. I can set up a branch and get to work on it this weekend. Should see a PR shortly.

[2022-06-30 20:04] SimonBiggs commented on #1686
Hi @SimonJSchmidt,

Most definitely. Especially given the one of the key computation bottlenecks in the gamma calculation is the tri-linear interpolation (which can be calculated with an array convolution, a GPU friendly approach).

If you'd be keen to give it a try and make a pull request, let us know! 🙂

[2022-06-30 20:21] crcrewso commented on #1686
I've looked into a lot of different GPU solutions for gamma comparisons, and I've found them lacking. There's a discussion about parallelizing linear interpolation from [StackExchange](https://stackoverflow.com/questions/41220617/python-3d-interpolation-speedup) that might allow for CPU interpolation.

For GPU's the array either needs to be preloaded, or the calculation needs to be so CPU intensiv

[2022-06-30 23:49] SimonBiggs commented on #1686
Utilising `jax.jit` code that looks very similar to numpy can be compiled to run parallelised on the CPU or compiled to be sped up on the GPU:

https://jax.readthedocs.io/en/latest/jax-101/02-jitting.html

If we're going for tool choice, `jax` would certainly be hands down my preference.

[2022-07-06 03:05] KeoJam commented on #1687
But can not  run any demo except dicom pseudonymise

[2022-07-06 03:18] SimonBiggs commented on #1687
Yup, each of these applications were built to support the clinic that the Medical Physicist was in. And certainly the "last mile" of making it easily demoable has not yet been undergone.

But, that is also why the "beta" and "alpha" labels were designated. Potentially there might be benefit of having a "toggle switch" which by default hides all applications that are less than beta quality?

Is thi

[2022-07-06 04:39] KeoJam commented on #1687
yeah, I am interested in ICOM,but i try use pymedphys._delivery.Delivery.from_icom and got too many mus, gantrys, collimators, mlcs, jaws  that not match the plan. Is it only way to find the real gantry, collimator, mlc, jaw by compare  mu(one from plan's beam's control point  on from icom log files)?

[2022-07-06 04:54] SimonBiggs commented on #1687
That's due to the iCOM stream being time resolved as opposed to control point resolved. I have found that a good way to compare the iCOM stream to the plan is via the mudensity tool.

Here's an example where mudensity is being used to compare trf and dicom:

https://github.com/pymedphys/pymedphys/issues/989#issuecomment-673198192

But, you can use the same approach to compare icom to dicom or othe

[2022-07-06 05:00] SimonBiggs commented on #1687
@lipteck also had a poster at the Singapore World Congress on this:

https://www.linkedin.com/feed/update/urn:li:share:6942750559179272195/

@lipteck, might you be in a position to give @KeoJam a hand?

[2022-07-06 06:08] KeoJam commented on #1687
Thanks, I'll try.

[2022-07-06 06:12] SimonBiggs commented on #1687
If you have any questions, jump onto the following mailing list and ask away:

https://pymedphys.discourse.group/

[2022-07-07 01:42] SimonBiggs opened #1696 "Pinnacle warning on the CLI page also"
Make the pinnacle warning display within the CLI part of the docs also:

We need to have this warning:
https://docs.pymedphys.com/en/latest/users/ref/lib/experimental/pinnacle.html

Also display at:
https://docs.pymedphys.com/en/latest/users/ref/cli/pinnacle.html

@crcrewso, might you be interested in taking this one? Also, @crcrewso, we need to get you onto [the team list on the front page](https

[2022-07-07 22:50] Matthew-Jennings commented on #1667
******** Status updated to **REVIEW** ********

[2022-07-15 19:09] crcrewso commented on #1696
That looks like something I could do in the very near future. Please assign it to me.

On Jul 6 2022, at 7:42 pm, Simon Biggs ***@***.***> wrote:

[2022-07-15 22:56] SimonBiggs commented on #1696
Beautiful, thanks @crcrewso :).

[2022-07-19 01:00] SimonBiggs opened #1697 "JOSS Review Items"
https://github.com/openjournals/joss-reviews/issues/4555#issuecomment-1182529100

@crcrewso, might you be open to fixing up this review feedback item from the JOSS paper review?

[2022-07-19 05:11] SimonBiggs commented on #1588
Hi @nlambriICH,

@ddcc3388 has offered to help with re-working the `CONTRIBUTING.md` overview file. Would you be able to help him get set up, and then he can take a spin at re-working/re-writing that file?

@ddcc3388, the file that needs improving (re-writing) is the following one:

https://github.com/pymedphys/pymedphys/blob/main/CONTRIBUTING.md

[2022-07-19 07:40] nlambriICH commented on #1588
Sure!

Hi @ddcc3388. If you want to contribute to PyMedPhys you can start set up your workstation following the instructions [here](https://docs.pymedphys.com/en/latest/contrib/setups/index.html).

Within the pymedphys repo you can then create a feature branch for your changes: `git checkout -b my_feature_branch`.

Next, you can start re-writing the `CONTRIBUTING.md` and build the documentation lo

[2022-07-20 07:09] #1612 closed

[2022-07-20 15:03] crcrewso commented on #1697
Absolutely. I can do that this week.

[2022-07-20 22:33] SimonBiggs commented on #1697
Beautiful :) thanks @crcrewso

On Thu, 21 Jul 2022, 1:03 am crcrewso, ***@***.***> wrote:

[2022-07-21 02:15] guanfada commented on #1697
@SimonBiggs I have a co-authored paper accepted by PMB today, so I guess tomorrow or later I can get the DOI of this accepted paper. Then we can put it into our JOSS paper as a reference. What do you think?

[2022-07-21 06:40] ddcc3388 commented on #1588
Hi @SimonBiggs @nlambriICH,
Glad to be on board to help!
Yep, I'll get started on it!
Thanks

[2022-07-21 06:43] SimonBiggs commented on #1588
@ddcc3388, if you make short work of this, might you then be interested in potentially jumping into an AI based tutorial?

[2022-07-21 06:51] ddcc3388 commented on #1588
@SimonBiggs

Yeah, would totally be down for that!

[2022-07-25 00:27] SimonBiggs opened #1703 "Change pyright CI to utilise poetry instance"
That way pyright will obey the `poetry.lock` file and not cause CI failures until we explicitly undergo an update cycle.

[2022-07-25 00:27] SimonBiggs commented on #1703
If someone was keen to give this a shot, that'd be awesome :)

[2022-07-25 03:59] SimonBiggs commented on #1703
@ddcc3388,

Let me know if you were interested in learning how this is done. I could jump on a video call with you and show you how to do this.

[2022-07-25 04:57] ddcc3388 commented on #1703
@SimonBiggs Hey Simon, I'm still trying to sort out the contributor's section. Would you have time to show me tomorrow?

[2022-07-25 05:25] SimonBiggs commented on #1703
Of course. Let's book either early morning or late afternoon so that I can have a good block on uninterrupted coding time myself.

[2022-07-25 05:33] ddcc3388 commented on #1703
Great! We could do late afternoon if that works. What time suits you?

[2022-07-25 05:42] SimonBiggs commented on #1703
Might we be able to do 5pm? (AEST)

[2022-07-25 16:45] crcrewso commented on #1697
It appears there are a few JOSS related tasks on my todo list. Is it possible to add the cc-pinnacle-joss-patch branch as a 'version' in the readthedocs configuration?

[2022-07-25 17:06] crcrewso opened #1704 "Old examples within `examples/drafts` are confusing. Move `how-tos` to top level of repo. Only keep working and tested examples."
[tps_compare](https://github.com/pymedphys/pymedphys/blob/8c55ae66c182f7e268f235322b498fc1ac34eccf/examples/drafts/tps_compare.ipynb)

[code]

In the last line of the import init cell there is a reference to tpscompare. It looks like this code has been significantly refactored since this example was first written as this reference no longer exists.

[2022-07-25 20:20] AviBit opened #1706 "Error when creating rtdose file, (pinnacle)"
Hello,
who can assist or recommend who should i contact for paid help on this error when exporting Dose file

pymedphys\_experimental\pinnacle\rtdose.py", line 338, in convert_dose
    value = struct.unpack(">f", data_element)[0]
struct.error: unpack requires a buffer of 4 bytes

[2022-07-25 21:02] crcrewso commented on #1706
Paid help? I don't think anyone is currently offering paid support for this code.

Could you give us a few more details:

- Operating system
- Python version
- Pinnacle version
- Do you know anything about the pinnacle dose?
  - Dimensions?
  - Units?
- Any additional information you could add would be a huge help

[2022-07-25 21:35] AviBit commented on #1706
Sorry im so lost in Python that i need any help i can get.

-Pinnacle v9.8
-Windows server
-Python 3.10

i can upload/share all the files for this sample, will anonimize the PHI before if this will help?

[2022-07-25 21:58] crcrewso commented on #1706
Let's try the simplest thing first. I'm not sure how well tested the Pinnacle tooling was with Python 3.10, and I definitely know that I haven't tested this tooling with any version of Pinnacle since their transition to the Windows codebase.

Could you try installing python 3.9 and then retrying the code?
Could you also explain what you're trying to accomplish? I thought the more modern versions o

[2022-07-25 22:09] AviBit commented on #1706
im trying to convert the old pinnacle files to the dicom version
i just copy the files from the Sun solaris server to a windows server to run the tool

on closer look most of the errors i get when the files plan.Trial.binaryXXX are 0-256kb
i only found one case so far where the plan.Trial.binaryXXX files are larger and the error happen

will look at more failures to see if the pattern is the file

[2022-07-25 22:14] crcrewso commented on #1706
The code definitely wasn't tested against corrupted or empty dose files, sorry we can't help there.

Good luck

[2022-07-25 22:23] AviBit commented on #1706
I agree the empty files wont have information

a diffrent error cause the script to brake and i didn't see it before in the log

pymedphys\_experimental\pinnacle\rtstruct.py", line 137, in read_points
    roi_contour.ROIDisplayColor = colors[point["Color"]]
KeyError: 'inverse_grey'

any idea about this error?

[2022-07-25 22:24] crcrewso commented on #1706
Yes. That means the colour isn’t in the index. I need to check my notes on that one.  -- Cody Crewson On July 25, 2022 at 4:23:12 PM, AviBit ***@***.***) wrote:
I agree the empty files wont have information
a diffrent error cause the script to brake and i didn't see it before in the log
pymedphys_experimental\pinnacle\rtstruct.py", line 137, in read_points
roi_contour.ROIDisplayColor = colors[poin

[2022-07-25 23:12] SimonBiggs commented on #1697
I actually just added you as a maintainer on the readthedocs PyMedPhys project. Feel free to make any branch you choose / wish to be set to a hidden version as you desire :slightly_smiling_face:

[2022-07-25 23:22] SimonBiggs commented on #1704
Yeah, that tps_compare file is within `examples/drafts`. I expect we should potentially merge the concept of "how-tos" and "examples", and then have it so that the how-tos within the docs first copy from the root examples directory.

Then, we clear house on old deprecated examples, and allow for more examples to be fleshed out that actually end up running through the CI suite (via the jupyterbook

[2022-07-25 23:46] SimonBiggs commented on #1706
Thanks @crcrewso for taking this one! Appreciated :slightly_smiling_face:

[2022-07-26 01:26] Matthew-Jennings opened #1707 "Relocate "Create a Streamlit Executable" page to lie under "Repository Information""

[2022-07-26 05:54] ddcc3388 commented on #1588
@nlambriICH @SimonBiggs
Hey Guys,
<img width="1082" alt="Screen Shot 2022-07-26 at 3 51 37 PM" src="https://user-images.githubusercontent.com/71061678/180933149-31eeecb4-b81d-44e4-955f-8624fe273589.png">
I'm still having issues when I'm trying to install Poetry. I'm using an M1 Mac.

[2022-07-26 15:53] crcrewso opened #1711 "Discussion: Branch Cleanup"
I see that there are duplications of tags and branches for some of our older versions. Is there any plan to delete any of these branches? The list is getting quite long making it a bit more work when using command line to navigate open feature development branches.

[2022-07-26 22:11] SimonBiggs commented on #1711
Fair point. If we already have a tag, it is reasonable that we delete the branch if it is not serving any other purpose.

[2022-07-26 22:13] crcrewso commented on #1711
If the group is okay with it I can confirm there's a tag for every branch and then clean up the duplicates.

[2022-07-28 14:33] crcrewso commented on #1711
Hearing no objections I'll do the work this weekend.

[2022-07-28 20:57] SimonBiggs commented on #1711
Sounds good to me. I may need to give you higher permissions than you have. Let me know if that's the case.

[2022-07-28 21:39] crcrewso commented on #1711
Good call, I just checked and I can't delete any of the protected branches.
Some of them are obvious having patches only changing the version names. I'll leave the rest of them alone but will document the issues here.

[2022-07-30 14:31] nlambriICH commented on #1686
Just to give you an update on this. I have experimented with jax trying to speed up the gamma, but... no good news unfortunately. I could run some tests only on CPU.

I tried going through the code and substitute numpy with jax.numpy where possible, but the computation time increased 😕

I'm also struggling to add jax.jit because:

- most functions would require a refactoring as they accept paramet

[2022-08-04 21:34] #1696 closed

[2022-08-04 22:18] #1692 closed

[2022-08-04 22:22] Matthew-Jennings opened #1716 "Consider moving Statement of Need out of README."
_Originally posted by @SimonBiggs in https://github.com/pymedphys/pymedphys/pull/1701#discussion_r937388583_

[2022-08-04 22:30] crcrewso commented on #1711
First pass Summary of unmerged changes
0.9.x - 0.38.x -  Version bumps - can be deleted
0.6.x, 0.7.x and 0.8.x have minor changes requiring due diligence

I currently don't have the rights to delete these stale branches so I will leave the next steps in the hands of administrators

[2022-08-04 23:17] SimonBiggs commented on #1686
Yeah, I suspect that's where the gold lies. JAX has a "scipy api":
https://jax.readthedocs.io/en/latest/jax.scipy.html

Potentially the best path forward would be to create a "JAXified" version of `RegularGridInterpolator` over at the JAX repo, with the help of the JAX maintainers. And then, I suspect, if we just utilise that within our repo, we will have quite a win.

[2022-08-04 23:20] SimonBiggs opened #1717 "Document "Automated Tests""
_Originally posted by @nlambriICH in https://github.com/pymedphys/pymedphys/issues/1701#issuecomment-1195115931_

Referring to the review checklist:

https://github.com/openjournals/joss-reviews/issues/4555#issuecomment-1187692538

[2022-08-04 23:23] SimonBiggs commented on #1717
Essentially, just need a document that says, to run the tests, run `poetry run pymedphys dev tests`

[2022-08-05 18:26] SimonBiggs opened #1720 "Potential for utilisation of homomorphic encryption for anonymisation"
Anonymising patient data with homomorphic encryption would allow for server side analysis on anonymised data that is able to then be restored client side:

https://openfhe-development.readthedocs.io/en/latest/

[2022-08-06 00:26] SimonBiggs opened #1721 "Create a feedback module"
We could create a feedback module with the purpose of gathering feedback for improving the library, information for supporting maintenance decisions, as well as building an evidence base of the impact being made by PyMedPhys to support potential grant applications in the future.

There are many ways we could design this. I have presented a few ideas below:

Create a `pymedphys-user-community` GitH

[2022-08-06 03:18] SimonBiggs commented on #1686
@nlambriICH, maybe the use of the following library could be really helpful?

https://aesara.readthedocs.io/en/latest/introduction.html#introduction

[2022-08-06 14:04] sjswerdloff commented on #1721
I worry about the abuse by non users (of the submission mechanism and the access it provides, even if it is just a denial of service attack).
But the rest looks good to me.

I would like the stats gathered by the site to be readily observable to the site, e.g. by including basic review tools in PyMedPhys (even if its just a text dump or bar chart).

I'm not a fan of telemetry when I don't know exa

[2022-08-06 22:05] SimonBiggs commented on #1721
Yup, definitely. It needs to be above and beyond above board. Potentially we can build in the stats analysis functions for both your locally stored records but also for the global cohort. We could potentially even have a "how-to" example notebook that shows the various stats collected and provides a way to investigate it and extract helpful insights.

It would be open to DOS attack. In the event t

[2022-08-06 22:33] SimonBiggs opened #1722 "Fix main branch push permissions"
See https://github.com/pymedphys/pymedphys/pull/1719#discussion_r939581936

[2022-08-06 22:34] SimonBiggs opened #1723 "Make docs CI raise warnings as errors"
See https://github.com/pymedphys/pymedphys/pull/1719#discussion_r939581936

[2022-08-07 03:03] SimonBiggs commented on #1721
Here is a good article in nature about setting up projects for the long haul and it provides some grant funding options:

https://www.nature.com/articles/d41586-019-02046-0

I know if we could get grant funding that is enough to cover a reasonable software developer salary I would be quite happy commiting to work on PyMedPhys full time and help make it be able to become one of the best versions of

[2022-08-09 04:06] SimonBiggs commented on #1717
We really just need to add something like the following to the bottom of our readme:

https://github.com/ReactiveX/RxPY#development

[2022-08-09 17:07] crcrewso commented on #1697
I think this is now closed with pr #1705

[2022-08-09 17:30] crcrewso commented on #1717
I think it's also time to include a requirements-dev even if it just references requirements.txt, poetry, and pandoc.

[2022-08-11 01:30] Matthew-Jennings commented on #1716
I can see that @SimonBiggs has removed this from the README, but it _does_ still need to be in the documentation _somewhere_, and probably referenced from the README.

@nlambriICH & @guanfada, how is this going?

[2022-08-11 02:19] guanfada commented on #1716
@Matthew-Jennings Do you want to put "statement of need" on a separate page, and then add a link in the paragraph of "What is PyMedPhys?"

[2022-08-11 21:32] SimonBiggs opened #1724 "OpenTelemetry?"
Some details:
https://pythonspeed.com/articles/logging-vs-profiling/

[2022-08-12 07:17] Matthew-Jennings commented on #1716
@guanfada, yep, I think that sounds reasonable :)

[2022-08-13 03:00] guanfada commented on #1716
@Matthew-Jennings @SimonBiggs
How can I synchronize with the main branch, so that I can work on editing Readme.rst? Thanks.
My readme.rst still has "statement of need" paragraph.

![image](https://user-images.githubusercontent.com/25382578/184465947-b1552334-50a6-4c81-a619-de83a3d7e606.png)

[2022-08-13 03:30] Matthew-Jennings commented on #1716
On your local workstation, open a terminal, navigate (`cd`) to the `pymedphys` directory and run:

[code]

You may or may not need to resolve merge conflicts. Try the above first and let me know if you have trouble. :)

[2022-08-16 01:39] guanfada commented on #1716
@Matthew-Jennings I have to use "git stash" before "git checkout main"

[2022-08-16 04:55] Matthew-Jennings commented on #1716
Hi @guanfada

Honestly, the simplest approach might be to start again with a new branch. You might need be able to save some time applying your stashed changes to the new branch, but I doubt even that is worth it.

If you want to go the "merge conflict resolution" route, I'd suggest one of the many, many (mostly free) git tutorials available online. A decent understanding of Git, including resolvi

[2022-08-16 05:55] SimonBiggs commented on #1716
Hi @guanfada,

I'm happy to jump in and help here. @Matthew-Jennings' advice above won't work in this specific case due to your  `guanfada/pymedphys` fork's main branch diverging. I'd recommend doing the following:

[code]

As a heads up this is a bit "nuclear" in the sense that it deletes all changes in your locally forked repo. To make things a bit easier on yourself in the future make sure to m

[2022-08-16 21:34] guanfada commented on #1716
@SimonBiggs @Matthew-Jennings I will be working on it later. Cheers guys.

[2022-08-17 22:03] SimonBiggs commented on #1716
I take it back, it appears that your `main` branch hasn't diverged:

![image](https://user-images.githubusercontent.com/6559099/185251192-b5b0bf29-9107-4f28-b765-cefd55c64cf5.png)

So, @Matthew-Jennings' advice will work mostly as is. Doing the following will work well:

[code]

[2022-08-17 22:04] SimonBiggs commented on #1716
![image](https://user-images.githubusercontent.com/6559099/185251523-996bcd90-1236-4f93-b212-42944fd61d60.png)

[2022-08-18 07:44] nlambriICH commented on #1717
Hi guys, I took some days off, but I wanted to contribute to this issue as it was opened due to my comment.

I have added a section in the readme, as in the link posted by @SimonBiggs.

Let me know what you think in the PR I've opened. 😃

[2022-08-18 09:30] #1717 closed

[2022-08-18 23:46] SimonBiggs opened #1726 "Pull all non-essential tests out into their own workflow"
We need to pull the updates test out into their own workflow so that a failing updates test doesn't cause all of the other tests to cancel...

![image](https://user-images.githubusercontent.com/6559099/185343063-4e2b2ef8-7d50-40e1-a115-9a16fbe1629a.png)

_Originally posted by @SimonBiggs in https://github.com/pymedphys/pymedphys/issues/1725#issuecomment-1219163973_

[2022-08-22 02:47] SimonBiggs commented on #1686
So, with all my love for JAX... turns out they don't yet provide native pip install support for windows:

https://github.com/google/jax/issues/5795

...that's an absolute deal breaker for using JAX as a dependency of PyMedPhys...

[2022-08-22 02:56] SimonBiggs commented on #1724
Here is how a prominent open source tool utilises and discloses their use of telemetry:

https://www.pantsbuild.org/docs/anonymous-telemetry

[2022-08-22 07:18] nlambriICH commented on #1686
What about these links:

- [jax docs](https://jax.readthedocs.io/en/latest/developer.html#building-or-installing-jaxlib)
- [builder](https://github.com/cloudhan/jax-windows-builder) (created by a microsoft employee 😃)?

[2022-08-22 07:21] SimonBiggs commented on #1686
True, but one of the "requirements" of PyMedPhys in my mind is "it and its dependencies should just install with pip on Windows, MacOS and Linux". There shouldn't be any extra fuss to get it working. I would be more than happy for a package outside of PyMedPhys to utilise JAX, and then, once JAX works with Windows via pip then pull that package in...

[2022-08-22 07:25] sjswerdloff commented on #1686
This seems like it could fit in with "experimental".
But it would certainly be easier if a separate package were to *use* PyMedPhys and substitute in a "JAXified" version of RegularGridInterpolator, and then we just wait until JAX gets packaged for PyPi

[2022-08-22 07:49] SimonBiggs commented on #1686
Fair point. It would mean that the dependencies wouldn't be so simple to handle the experimental install. But you're right, experimental is probably a good way to go.

[2022-08-26 05:32] sjswerdloff commented on #1285
Hi @martijnkusters  congratulations on your poster at AAPM (and @SimonBiggs :-) ) .
Your poster references PyMedPhys 0.38, so can I assume that the necessary code changes to enable comparing the Linac log files to the Monaco Plans is in that release of PyMedPhys?
It turns out there is interest in using your/this work at other sites, and I have a colleague who would like a brief rundown of how to g

[2022-08-26 05:59] SimonBiggs commented on #1285
If it all are okay for it to stay on-list I'd be quite keen to also hear (or be CCed). I'm investigating ways on how I might be able to earn a few dollars on the side while getting regulatory approval for my autocontouring product... so... if this might be a way, I'd be quite keen to hear :)

[2022-08-30 12:07] martijnkusters commented on #1285
Hi @sjswerdloff and @SimonBiggs,  good to hear that there is interest in the log files for the Unity.
You can send me an e-mail to discuss this topic with your colleague.

Best Regards,
Martijn Kusters

[2022-08-30 22:26] SimonBiggs commented on #1665
Just a heads up @Matthew-Jennings, we're getting this redirect pain fixed upstream instead of doing it all manually:

https://github.com/readthedocs/readthedocs.org/issues/9418#issuecomment-1232198041

[2022-09-01 04:05] Matthew-Jennings commented on #1665
Good news!

[2022-09-01 16:41] TheTripleV commented on #1665
Hi, I dunno if you're in the same boat as me and need version level redirects or not but I've been using and maintaining https://github.com/wpilibsuite/sphinxext-rediraffe for a few years now to handle redirects manually. If you are just doing a reorg and moving files around, rediraffe does have a tool to use git to automatically generate redirects for moved files. Even if you don't want to use it

[2022-09-01 20:36] SimonBiggs commented on #1665
@TheTripleV, that looks absolutely amazing!

@Matthew-Jennings, would you be willing to try and give this a spin over the new documentation reorg that you underwent?

Thank you, both of you! :slightly_smiling_face:

[2022-09-09 16:16] neurolabusc opened #1731 "Command line anonymise fails"
The function anonymise_with_pseudo_cli() only creates the variable `identifying_keywords_for_pseudo` is only assigned if the user runs with the [pseudo](https://docs.pymedphys.com/en/latest/users/ref/cli/pseudonymisation.html) argument.

Calling with pseudo succeeds:

[code]

Calling without pseudo crashes:

[code]

[2022-09-09 22:03] SimonBiggs commented on #1731
Hi @neurolabusc,

What if you don't use the experimental API?

[code]

[2022-09-11 11:50] #1716 closed

[2022-09-12 17:21] neurolabusc commented on #1731
@SimonBiggs that does seem to work. Can you [update the documentation](https://docs.pymedphys.com/en/latest/users/ref/cli/pseudonymisation.html) if this is the proper usage. That would close the issue.

[2022-09-13 19:34] SimonBiggs commented on #1731
@neurolabusc, do you think a comment like the following would have helped you?

https://github.com/pymedphys/pymedphys/pull/1733/files

Cheers,
Simon

[2022-09-13 20:05] neurolabusc commented on #1731
I would not have seen this, as a web search led me to the [documentation](https://docs.pymedphys.com/en/latest/users/ref/cli/pseudonymisation.html). I suggest updating the documentation to provide guidance on usage.

[2022-09-13 20:38] SimonBiggs commented on #1731
Hi @neurolabusc,

That is actually what is rendered as the documentation on that page in question.

[2022-09-13 21:02] neurolabusc commented on #1731
The documentation [says](https://docs.pymedphys.com/en/latest/users/ref/cli/pseudonymisation.html)

[code]

It suggests that the argument `experimental` is required not optional, and does not warn the user that the argument `experimental` only works if the optional argument `pseudo` is included.

[2022-09-13 21:21] SimonBiggs commented on #1731
May you please submit a PR that addresses your concern?

[2022-09-13 21:50] neurolabusc commented on #1731
Sorry, I am not familiar with the structure of this project 's documentation structure and philosophy. The rationale for the `experimental` clause in both the code and in the documentation path is unclear to me. It is likely that any PR I created would have unintended consequences. I encountered this issue trying to help @mcraig-ibme  with their [corrupted anonymized DICOM](https://github.com/rord

[2022-09-13 23:44] sjswerdloff commented on #1731
I will look at addressing behaviour in response to the combination of experimental with anonymise and without --pseudo (I will create a Pull Request).  I don't think I can get to this before the weekend.

[2022-09-13 23:53] SimonBiggs commented on #1731
Thanks @sjswerdloff :slightly_smiling_face:

[2022-09-15 08:19] Matthew-Jennings opened #1735 "Final steps before paper acceptance"
From https://github.com/openjournals/joss-reviews/issues/4555#issuecomment-1247632276:

@SimonBiggs (and anyone else interested), I might need your help with this - haven't made a release in a while!

[2022-09-15 08:25] SimonBiggs commented on #1735
Thanks @Matthew-Jennings for continuing to spearhead the paper submission 🙂

I had my ear drum burst today... And I suspect I'll continue to be out of action for the next few days.

@pchlap helped me with the most recent one, he might be in a position to help? Also, there was a recent poetry update to version 1.2.0. I think it might be worth updating to 1.2.0 locally, running a `poetry update` wit

[2022-09-15 08:26] SimonBiggs commented on #1735
Also, seeing everyone solve these things gives me hope that the PyMedPhys bus factor is growing 🙂. So, thank you everyone 🙂.

[2022-09-15 20:07] pchlap commented on #1735
Hi @SimonBiggs & @Matthew-Jennings,

Also agree, thanks @Matthew-Jennings and all for moving the paper submission forward!

I'm definitely happy to work on preparing the pymedphys release. I'll also update poetry first as @SimonBiggs suggests.

@SimonBiggs I don't suppose we had prepared any docs on the release process last time did we? I don't think we did so I'll go back and check what we did to

[2022-09-18 02:34] sjswerdloff opened #1736 "Consider updating to pylibjpeg-libjpeg 1.3.2 (or pylibjpeg[jpeg] 1.4) and deprecate pymedphys-pylibjpeg-libjpeg (address arm64 install issue)"
Attempting to install pymedphys-pylibjpeg-libjpeg 1.3.1 has the same problem as pylibjpeg-libjpeg on Arm64 (Apple M1 and at least Ubuntu 22.04 VMs running on an Apple M1).
There is a pylibjpeg-libjpeg 1.4.
Changing the pyproject.toml to comment out the pymedphys flavour and uncommenting the parent version seems to work

[2022-09-18 03:13] sjswerdloff commented on #1731
I think the history of this (bear with me) is that anonymise was moved out of experimental, and the default behaviour within experimental was switched to psuedonymise (that's all that was available because anonymise wasn't in experimental anymore).
So the use of --pseudo is either redundant (pseudonymisation is going to get called from experimental) and I alter the setting of the variable in quest

[2022-09-18 06:12] SimonBiggs commented on #1736
Yup, happy for that change. The pymedphys variant was just a temporary option waiting for the main package to upgrade and provide wheels.

It just needs to be undergone in the pyproject.toml and then poetry update needs to be run.

[2022-09-18 06:13] SimonBiggs commented on #1731
Another option, psudonumisation gets moved out of experimental?

[2022-09-18 07:15] sjswerdloff opened #1738 "tests on pseudonymisation related code issue numerous warnings of strings being of excessive length for the VR"
pymedphys dev tests --run-only-pydicom
results in warnings about strings of excess length for VR=SH and VR=PN
e.g.
tests/experimental/pseudonymisation/test_pseudonymisation.py::test_identifier_is_sequence_vr
  /home/parallels/.pyenv/versions/3.9.14/envs/pymedphys39/lib/python3.9/site-packages/pydicom/valuerep.py:290: UserWarning: The value length (26) exceeds the maximum length of 16 allowed for V

[2022-09-18 07:53] #1731 closed

[2022-09-18 07:55] SimonBiggs commented on #1731
@neurolabusc, are you in a position to install pymedphys from source and verify that @sjswerdloff's fix has addressed your issue?

[2022-09-18 17:15] neurolabusc commented on #1731
Sorry, unable to test in a timely manner. Feel free to close the issue if the updated code will anonymize DICOMs using the default settings of the documents.

Feel free to use the DICOM images from [dcm_qa](https://github.com/neurolabusc/dcm_qa). These include the Siemens proprietary CSA header. Using pymedphys I was unable to replicate the [CSA data corruption](https://github.com/rordenlab/dcm2ni

[2022-09-19 04:40] Matthew-Jennings commented on #1735
Thanks, @pchlap, that would be great!

If you do feel like documenting along the way, I think a useful place might be a new docs page (e.g. "Making a release") under _Contributors Guide / Repository Information_. Even a very simply formatted dot point list would be quite helpful, I think.

[2022-09-20 22:56] SimonBiggs commented on #1736
@pchlap, could we make sure within the release process that we change `pymedphys-pylibjpeg-libjpeg` back to `pylibjpeg-libjpeg`

[2022-09-26 23:04] Matthew-Jennings commented on #1735
@SimonBiggs, given the issues faced in #1739, is there an alternative "patch" release pathway that we can take to avoid further delay in paper acceptance?

[2022-09-27 02:06] Matthew-Jennings opened #1740 "Presentation on PyMedPhys for QLD Scripting Symposium (Australia) - 7th October"
Hi all,

The Queensland Branch of the ACPSEM is hosting a scripting-themed symposium on Friday 7th October 2022. I've been invited to talk about PyMedPhys at the symposium. The talk has a 15 minute timeslot allocated, inclusive of questions. I believe that virtual attendance is possible, though I'm not sure on the details yet. Here is the registration [link](https://www.acpsem.org.au/ccms.r?pageid

[2022-09-27 02:16] SimonBiggs commented on #1740
My main comment is it would be great if it was interactive and people actually use the library during the workshop. For example, spin up a Google Colab, pip install, and come away having achieved something.

[2022-09-27 02:34] guanfada commented on #1740
@SimonBiggs
Do you want me to give a demo then?
I can (1) use Jupyter to run our online example, and (2) use PyCharm to run my actual case with two DICOM files. This script is slightly different from the online example. I added more output files.

[2022-09-27 02:42] SimonBiggs commented on #1740
@guanfada, I suspect it would be simpler presented in-person, but I'll leave the decision to @Matthew-Jennings given he's running the time-slot.

[2022-09-27 02:48] guanfada commented on #1740
@SimonBiggs Got it.
Maybe time is an issue for me. We have 14 hours difference.

[2022-09-27 02:50] SimonBiggs commented on #1740
Also, I'm not sure the gamma example is the best choice... I just wanted to give an example of my preference for some interactivity. Really, I don't mind what is chosen, as long as there is an element of interactivity.

[2022-09-27 03:31] Matthew-Jennings commented on #1740
I agree with all of this and I really did want to achieve something like this, but unfortunately it's a "symposium", not a "workshop". In-person attendees will not have access to computers or the internet. Moreover, 15 min is unlikely to achieve something particularly useful.

Rather than force a workshop-style this time around, I'm hoping to organise a true multi-day workshop next year - somethin

[2022-09-27 03:34] Matthew-Jennings commented on #1740
Thank you for the offer, @gyanfada! I think I'll stick to simply presenting myself. I'll have additional things to present and I think it'll be too difficult to co-ordinate multiple presenters, especially one remote, in a single short session.

I was thinking more along the lines of presenting a specific department's implementation _for_ them as an example of what's can be achieved by using PyMedP

[2022-09-27 06:55] SimonBiggs commented on #1740
@Matthew-Jennings, @lipteck might be keen for his use case to be presented. He had a poster at the recent world congress:

https://www.linkedin.com/feed/update/urn:li:activity:6942750559909089282?updateEntityUrn=urn%3Ali%3Afs_feedUpdate%3A%28V2%2Curn%3Ali%3Aactivity%3A6942750559909089282%29

[2022-09-27 07:15] pchlap commented on #1735
I'd just add that I think the main problem I've been facing there is the upgrades of streamlit and pandas which are causing problems with pylint. I'd expect these to happen even without the upgrade to poetry.

At this stage the only easy solution to that is to upper pin them which isn't ideal. There do seem to be breaking changes for streamlit (pandas should be fine to just add in pylint disables)

[2022-09-27 07:19] SimonBiggs commented on #1735
Given streamlit is a part of our "application" and less a "library package"... I'd be okay for more leniency on being able to upper pin streamlit. If that gives you an easy fix, happy for you to run with that option for this release.

[2022-09-27 14:53] guanfada commented on #1740
@Matthew-Jennings sounds good! Have fun there!

[2022-09-27 21:26] SimonBiggs commented on #1740
@Matthew-Jennings, what about devoting some of the time on gathering interest around a regular online PyMedPhys meetup? https://pymedphys.discourse.group/t/potential-for-a-regular-gather-town-meetup/214/5

[2022-09-28 00:31] lipteck commented on #1740
Hi Matthew,

I am happy to share our experience on the implementation of pymedphys on
the metersetmap comparison.

We have used the gui for manual comparison in our work as described in the
WC2022 poster. We have written a script that is possible to do mass TRF
with dicom comparison and provide boxplot. It has been uploaded to GitHub.

We are working towards reconstructing the TRF back to DICOM rt

[2022-09-29 01:00] SimonBiggs commented on #1736
The latest version online appears to still be 1.3.1:
https://pypi.org/project/pylibjpeg-libjpeg/

Therefore still broken with:
https://github.com/pymedphys/pymedphys/issues/1556#issuecomment-1152821285

[2022-09-29 01:02] SimonBiggs commented on #1736
Blocked by:
https://github.com/pydicom/pylibjpeg-libjpeg/issues/39 and https://github.com/pydicom/pylibjpeg-libjpeg/issues/38

[2022-09-29 04:06] Matthew-Jennings opened #1743 "Add link to JOSS article to CHANGELOG following publication"
https://github.com/pymedphys/pymedphys/blob/cab692f879843af05728225276da6136c09c7b6d/CHANGELOG.md?plain=1#L15

[2022-09-29 05:05] sjswerdloff commented on #1736
https://pypi.org/project/pylibjpeg/

[2022-09-29 05:06] sjswerdloff commented on #1736
So... there is a pylibjpeg 1.4
But not a pylibjpeg-libjpeg 1.4
When I did a local substitute of pylibjpeg 1.4 for pylibjpeg-libjpeg 1.3.1, it worked.

[2022-09-29 05:08] sjswerdloff commented on #1736
I mangled the names of things a bit in the issue and my comment.

[2022-09-29 07:28] nlambriICH commented on #1735
Hi all and thanks for your efforts!

I just wanted to ask do we plan to add the authors' ORCID before final revision?

[2022-09-29 07:43] Matthew-Jennings commented on #1735
Yes, good point.

@SimonBiggs, @sjswerdloff, @pchlap, @dg1an3, @rembishj, @JacobMcAloney, @kingrpaul, @ayalalazaro, @guanfada, @nlambriICH, @crcrewso, @msobolewski: if any of you would like to add your ORCID to the JOSS article, could you please provide it here asap?

[2022-09-29 07:46] pchlap commented on #1735
0000-0002-6517-8745

[2022-09-29 08:01] nlambriICH commented on #1735
0000-0001-8706-6480

[2022-09-29 08:08] sjswerdloff commented on #1735
0000-0003-0754-4679

[2022-09-29 08:09] SimonBiggs commented on #1735
0000-0003-2058-7868

[2022-09-29 09:28] Matthew-Jennings opened #1745 "Create new PR checklist"
GitHub has a PR checklist option. @Matthew-Jennings, would you be open to setting that up and including a checkbox in the template for "added relevant changes to the changelog"?

---

Also having "tests that cover my PR" would be a good checkbox also...

... and while we're at it... "docs that cover my PR"

_Originally posted by @SimonBiggs in https://github.com/pymedphys/pymedphys/pull/1744#discu

[2022-09-29 10:08] SimonBiggs opened #1746 "Better guidance for missing packages"
Yeah... that should cover most use cases. It potentially could be worth some further logic to detect if the user needs to install other optional dependencies also... But... if a user is "using" the pymedphys library then that install message should cover all of those use cases.

...if they are testing, then `pymedphys[user]` is not enough.

The fix for this could be, to have a dependency list crea

[2022-09-29 10:08] SimonBiggs commented on #1746
@nlambriICH, might you want to try and give this a punt?

[2022-09-29 10:15] nlambriICH commented on #1746
Hi @SimonBiggs!

Is this something urgent? I'm quite swamped at the moment and I don't want to stale this issue.
If not I can of course take a look into it!

[2022-09-29 10:16] ayalalazaro commented on #1735
0000-0001-6925-6176

Thank you!

------- Original Message -------
El jueves, 29 de septiembre de 2022 a las 10:09, Simon Biggs ***@***.***> escribió:

[2022-09-29 10:19] SimonBiggs commented on #1746
Not urgent at all. Feel free to pick it up when you'd like to take something in PyMedPhys for a spin.

Essentially, this is the error message users are shown when they try to use one of the optional dependencies and it is not installed. It's something that would be quite helpful for new users, but not something that has an urgent deadline.

[2022-09-29 11:38] guanfada commented on #1735
@Matthew-Jennings
Mine is
0000-0001-8477-7391

[2022-09-29 18:01] dg1an3 commented on #1735
Mine is 0000-0002-4148-1213

[2022-09-29 22:12] SimonBiggs commented on #1735
Here's the Zenodo DOI:
https://doi.org/10.5281/zenodo.7126882

However, the paper in that release won't have these ORCIDs. If we want that, we'll need to release a v0.39.1 of PyMedPhys and have it make a new Zenodo release.

[2022-09-29 22:42] JacobMcAloney commented on #1735
0000-0001-8060-6907

[2022-10-01 23:37] kingrpaul commented on #1735
I have one now and it is 0000-0001-6748-4538

[2022-10-02 09:49] SimonBiggs opened #1748 "Software Engineering Practices"
Hi All,

Here are some practices, some of which we don't do within PyMedPhys, and could benefit from being pulled in:

https://simonwillison.net/2022/Oct/1/software-engineering-practices/#tested-dev-environments

[2022-10-02 19:35] SimonBiggs commented on #1736
A new pylibjpeg release has been created which fixes the M1 issues:

https://github.com/pydicom/pylibjpeg-libjpeg/issues/39

@sjswerdloff, would you be open to forging a `0.39.1` release following @pchlap's document? The only release item for `0.39.1` would be swapping back to [pylibjpeg-libjpeg](https://github.com/pydicom/pylibjpeg-libjpeg) with a lower pin of `1.3.2`?

[2022-10-02 23:16] sjswerdloff commented on #1736
I'll give it a go, but probably not until this coming weekend

[2022-10-05 08:12] Matthew-Jennings commented on #1740
Thank you, @lipteck! Could you please link to the GitHub project in question? And perhaps any screenshots or figures that you think would be suitable for a PowerPoint slide to showcase your experience?

[2022-10-05 22:20] lipteck commented on #1740
Hi Matthew

Please find attached pdf A3 poster presented at the World Congress 2022.

Regards
Lip Teck

On Wed, 5 Oct 2022 at 4:12 PM, Matthew Jennings ***@***.***>
wrote:

[2022-10-06 03:09] sjswerdloff commented on #1736
I don't see a 0.39(.0) branch

[2022-10-06 04:24] sjswerdloff commented on #1736
Not exactly a catch-22, but the documentation of how to do a release is in main, but not part of 0.39.x (v0.39.0 tag).
The instructions appear quite accurate and complete for doing a feature release, but not quite complete for a patch release.
That's not a gripe.  This kind of makes the point that writing the instructions for a feature release while doing a feature release makes sense, and that up

[2022-10-06 07:33] pchlap commented on #1736
Hi @sjswerdloff, ah yes I had completely omitted the part around creating the 0.39.x branch. Thank you for rectifying that for me, apologies that just somehow wasn't at all on my radar.

I contributed the guidance doc after having completed the release. That's because I was writing the doc as working through the process so wanted to have a completed doc to contribute. I also assumed there might be

[2022-10-06 08:47] sjswerdloff commented on #1736
@pchlap , it looks like @Matthew-Jennings has done some updates to the release instructions.
I am working on a PR that just tries to update  the references involving pylibjpeg-libjpeg (vs tweaked variant pymedphys-pylibjpeg-libjpeg) in main.
We could have another PR that just focuses on updating the release instructions

[2022-10-06 08:51] sjswerdloff opened #1753 "New release instructions have some gaps (Major.Minor.x branch; releasing a bug fix only version)"
Need to specify creation of a branch at the tag (for a feature release)
Need to specify construction of a fix branch based on a release branch and have the pull request reference the release branch.

 @pchlap , it looks like @Matthew-Jennings has done some updates to the release instructions.
I am working on a PR that just tries to update  the references involving pylibjpeg-libjpeg (vs tweaked var

[2022-10-06 09:49] #1736 closed

[2022-10-06 11:51] SimonBiggs commented on #1753
Also, in the final sanity checks we should include running both `pymedphys dev tests` and `pymedphys dev tests --slow`

https://docs.pymedphys.com/en/latest/contrib/info/release-guide.html#final-sanity-tests

[2022-10-06 11:55] SimonBiggs commented on #1753
Also need to include a "clean up" step. Where a place-holder "unreleased" section is made within the changelog, as well as updating the href diffs for each changelog item:

https://github.com/pymedphys/pymedphys/blob/e8771d0a1bedd7ad524f1fc997cb086212735409/CHANGELOG.md?plain=1#L1370-L1375

Also, in a follow up PR bump the version to the next available dev release

[2022-10-06 17:26] SimonBiggs opened #1757 "Template repositories"
@Matthew-Jennings check out this:

https://github.com/discourse/discourse-plugin-skeleton

It's a "template repository". Instead of clone it has "Use this template":

![image](https://user-images.githubusercontent.com/6559099/194379152-81834427-fd6f-4be1-8919-43ba4cb8e2a6.png)

That could be perfect...

[2022-10-09 20:36] SimonBiggs opened #1759 "Black auto-fixer"
Potentially worth running the following action:

https://github.com/marketplace/actions/lint-action#autofix-example

And doing that prior to the pre-commit testing? That way, we can be using another tool to handle many of the potential pre-commit issues.

[2022-10-10 03:36] Matthew-Jennings commented on #1753
We're very shortly going to need to make another patch release after https://github.com/pymedphys/pymedphys/pull/1758 lands.

How precisely does a patch release differ from a minor release (is everything captured in @sjswerdloff's OP)? What if it's not the first patch for that minor release?

I'd be happy to update the release instructions to reflect the differences but am not sure I'd hit all of

[2022-10-10 03:54] Matthew-Jennings commented on #1759
I think so!

Perhaps at some point soon, we could work together to generate some additional contributor repo info. I think the CI is probably a good next area to tackle.

[2022-10-11 00:15] #1740 closed

[2022-10-17 00:09] Matthew-Jennings commented on #1667
Hi all,

We're published!!!

https://joss.theoj.org/papers/10.21105/joss.04555

@SimonBiggs @sjswerdloff @pchlap @dg1an3 @rembishj @JacobMcAloney @kingrpaul @ayalalazaro @guanfada @nlambriICH @crcrewso @msobolewski

[2022-10-17 00:24] guanfada commented on #1667
Congratulations to everyone!

[2022-10-17 01:25] SimonBiggs commented on #1667
For those interested, JOSS flagged that they would appreciate more reviewers. See the following post for details:

https://github.com/openjournals/joss-reviews/issues/4555#issuecomment-1280033189

[2022-10-17 05:18] sjswerdloff commented on #1667
I signed up and donated (but requested that my name not show up on donation lists, I don't want to get hit up by every web scraper on the planet).

Congrats and thanks to all contributors!

[2022-10-17 07:35] ayalalazaro commented on #1667
Congratulations!!

[2022-10-22 12:28] kiyoshiyoda commented on #1046
Hello,
Let me ask you a very low level question.
Can I convert a VMAT TRF to the corresponding DICOM RT file?
Kiyoshi

[2022-10-22 22:20] SimonBiggs commented on #1046
Hi @kiyoshiyoda,

I have taken note of your question over on the discourse channel:
https://pymedphys.discourse.group/t/error-messages-during-pymedphys-installation/240/5?u=simonbiggs

And I have tapped someone on the shoulder who has been doing work with VMAT TRF -> DICOM. I'm hoping they'll jump on there and answer your question. Otherwise I'll chime in, in time.

[2022-10-23 00:47] kiyoshiyoda commented on #1046
Dear Simon,
I am not sure if this email reply is the best but thanks a lot for your
message.
I really would like to know the current status.
In the meantime, https://github.com/pymedphys/pymedphys/issues/1046
shows that the original DICOM RT is used as a template.
I thought this might mean that the code disclosed in the above URL would
accept any delivery techniques, but maybe I am wrong.
Best reg

[2022-10-28 05:47] mguerrajordao opened #1765 "Improving TRF robustness"
Keen to contribute some code. Thank you for discussing.

[2022-10-28 05:56] SimonBiggs commented on #1765
Awesome thanks @mguerrajordao, it was great chatting there was awesome work that you have been doing there. Thank you!

Let's move forward by making three separate pull requests. The first one will:

* Be a public record that the changes made initially do break currently implemented tests
* Pull in current improvements that you've made to the logic
* But not change the API, and still produce all o

[2022-10-29 02:10] guanfada opened #1766 "Add JOSS paper to main page"
@SimonBiggs
Can we add the JOSS paper to the main page so that users of PyMedPhys can cite it?

Biggs, S., Jennings, M., Swerdloff, S., Chlap, P., Lane, D., Rembish, J., McAloney, J., King, P., Ayala, R., Guan, F. and Lambri, N., 2022. PyMedPhys: A community effort to develop an open, Python-based standard library for medical physics applications. Journal of Open Source Software, 7(78), p.4555.

[2022-10-29 04:19] #1735 closed

[2022-10-29 04:20] #1667 closed

[2022-10-29 04:22] Matthew-Jennings commented on #1686
@SimonBiggs, @sjswerdloff Perhaps #1761 goes far enough here? Shall we close this or keep it open as a reminder for further refinement?

[2022-10-29 04:24] Matthew-Jennings commented on #1670
Addressed in #1698

[2022-10-29 04:24] #1670 closed

[2022-10-29 04:25] Matthew-Jennings commented on #1605
@IlvaHou55, perhaps you could try the new implementation in #1761 either now by cloning pymedphys and checking out the relevant branch or later once it lands?

[2022-10-29 07:06] sjswerdloff commented on #1686
I'd say this can be closed.
You have (from what I read) a better than 2x performance improvement in #1761 , so if someone wants to go further, they can open a new Issue.
Otherwise performance improvements can go on forever.
Additional, separate attempts are fine.  But keeping one issue open indefinitely when something very significant has been done seems counterproductive.  Also known as "claim vi

[2022-10-29 07:08] #1743 closed

[2022-10-29 07:10] SimonBiggs commented on #1605
@Matthew-Jennings, for user testing, you're actually free to create a dev release on PyPI at any point. (Increment the version number and add -dev0 on the end, run propagate, them poetry build and poetry publish).

I find it really helps in getting real world feedback of users can just install `pip install pymedphys[user]==0.x.x-devx`

[2022-10-29 07:11] SimonBiggs commented on #1605
Nice thing about a dev release on PyPI is that it is never installed by default. The user has to explicitly request the version (or use other PyPI options that explicitly allow dev installs)

[2022-10-29 07:14] #1686 closed

[2022-10-29 11:50] #1766 closed

[2022-10-29 21:05] #1660 closed

[2022-10-29 23:05] #79 closed

[2022-10-29 23:52] Matthew-Jennings commented on #1605
Thanks @SimonBiggs - should I include an explicit CHANGELOG entry for 0.40.0-dev0 as well?

[2022-10-30 02:12] SimonBiggs commented on #1605
Nope, for all intensive purposes "it doesn't exist". Think of it as a "development branch" on PyPI.

[2022-10-30 02:15] SimonBiggs commented on #1605
An example recently where I found it was really helpful. A user had a bug during a video call. I was able to make a branch on PyMedPhys, and make a dev release straight from that branch (not even main), they were then able to download the fix, directly, by installing the dev version. We tested it out in the video call, and it all worked :).

[2022-10-30 05:42] Matthew-Jennings opened #1771 "Orientations (again!)"
Hi all,

A perennial issue that faces PyMedPhys is that we still in various places incorrectly equate *coordinates/axes* (i.e., `x`, `y`, and `z`) with *ijk* matrix indices (i.e., `slices`, `rows`, and `columns`), particularly in our DICOM and Gamma toolboxes.

More specifically, there are multiple instances where indices `(k, j, i)` of a dose grid are assumed to match `(z, y, x)` coordinate indic

[2022-10-30 05:45] SimonBiggs commented on #1771
I suspect DICOM standards land has struggled through all of this and come out the other side with solutions. I propose that we see if we can, as much as possible, align nomenclature and approaches with how DICOM solves the problem.

[2022-10-30 05:52] Matthew-Jennings commented on #1771
...I honestly don't think so. One piece of evidence for this is that different radiotherapy software vendors adopt wildly different solutions to coordinate system handling - both for display and for encoding exported DICOM files

[2022-10-30 06:17] SimonBiggs commented on #1771
Also, when it comes to the axis ordering of data, the common indexing order in scientific libraries (for example tensorflow https://www.tensorflow.org/xla/operation_semantics#convwithgeneralpadding_convolution) is to be slice, row, column. Essentially if I have a 3D object and I reference it with a single value, it is my intuition and general experience, that this will allow me to index by slice.

[2022-10-30 06:28] sjswerdloff commented on #1771
"Wildly different".  Yup...
Nomenclature is something that one can typically get from DICOM, and as long as one prefaces a phrase with "DICOM", it becomes unambiguous.  I've seen too many  inappropriate uses of DICOM terminology without adhering to the strict semantics from DICOM.  And I've seen DICOM terminology where a particular word does not mean exactly what it has meant in clinical environme

[2022-10-30 06:29] Matthew-Jennings commented on #1771
I agree. The problem is arguably with the `axes` tuple (and perhaps the fact that its labelled `zyx` instead of `kji` or `src`, depending on your preferred convention), not with the indexing of `pixel_array`

[2022-10-30 06:33] Matthew-Jennings commented on #1771
I think that relying on dimension order without having it explicitly annotated with semantic reference is a problem.
Slice/Row/Column == z,y,x is fine, but one needs to know if Slice is Axial, Sagittal, or Coronal (or worse, not along the canonical axes), and so on for the remaining dimensions (and in which direction the increasing index represents)

Exactly. Well, sort of. I was implicitly assumi

[2022-10-30 06:35] SimonBiggs commented on #1771
Yup, fair point. And, I think @sjswerdloff has actually given us the answer:

I think we need to standardise on always providing the corresponding grid values with an array. That way, if we export an imaging or dose grid, then we should also export an x, y, and z grid along with it which explicitly converts between i,j,k and x,y,z.

[2022-10-30 06:38] Matthew-Jennings commented on #1683
I'd be happy to take this, but I'm a little unsure how best to proceed. I already see a `pyproject.hash` file - do you envisage creating a python file that hashes pyproject.toml and then compares that digest to the one already saved in `pyproject.toml`? Or would we need a new file?

[2022-10-30 06:38] SimonBiggs commented on #1771
We could create an Enum that corresponds to the standardised orientation naming conventions, and have that orientation name be part of a function output that is output along with the array. And then also output the x, y, and z grids. These can be one dimensional grids in the case where the x, y and z are orthogonal with the slice, row column. But, at the end of the day, this isn't guaranteed eithe

[2022-10-30 06:43] SimonBiggs commented on #1683
Can just use the file that's already there 😃

[2022-10-30 06:44] Matthew-Jennings commented on #1771
Yes, agree completely.

I've actually already done this! See [here](https://github.com/pymedphys/pymedphys/blob/fd91592173bed1220cf5feb170f865226301ad60/lib/pymedphys/_dicom/coords.py#L23). Pretty sure it's robust to orientations.

But you still wanted axes! :p  In fairness to you, `scipy`'s interpolator wants a tuple of axes like the one we've been using. Moreover, I guess it's more memory effici

[2022-10-30 06:48] SimonBiggs commented on #1771
I guess the rule then, is that whenever we have public facing APIs that use dose, or gamma, or another 3D array we just always also require as a part of the input API the coords meshgrid?

And if we ever return a dose of gamma or etc when a coords meshgrid wasn't already provided as an input, or if the function resulted in any change to the coords meshgrid, then the first return item from that fun

[2022-10-30 06:50] SimonBiggs commented on #1771
And I suspect even most of our private APIs would benefit from this rule of thumb also. It would help us not trip up as much on this front?

[2022-10-30 06:54] Matthew-Jennings commented on #1771
I think it would help, but on first thought there are still a couple of caveats:
- the API for a number of tools would break (since they expect "axes"). We'd need to handle that change.
- It's still useful to include orientation information with `coords`. Meshgrids maintain a correct relationship between the dose grid and its `x, y, z` values, but doesn't help for comparisons *between* dose grids,

[2022-10-30 06:56] SimonBiggs commented on #1771
Yup, I'm sold.

We could get the best of both worlds by allowing broadcastable axis to be provided instead of a meshgrid. An array set up with length 1 axis in all dimensions that it doesn't travel will act equivalently as a meshgrid that has all of its axis orthogonal to the i,j,k coords.

[2022-10-30 06:57] SimonBiggs commented on #1771
Essentially the rule would be that we always provide the meshgrid or equivalent coords tuple (name it `grids`?) And we also pass around a named orientation object (an Enum containing each supported orientation name)

[2022-10-30 06:58] SimonBiggs commented on #1771
Or, instead of a name for orientation, we could copy DICOM's orientation tuple? 6 numbers between 0 and 1.

[2022-10-30 07:00] SimonBiggs commented on #1771
...and we could get the best of both worlds by making a tuple based Enum where HFS actually corresponds to DICOM's equivalent orientation tuple.

[2022-10-30 07:02] sjswerdloff commented on #1771
I'd like for there to be a natural language description that can be accessed based on the six numbers.
And those can be -1<= value <= 1
They are direction cosines (that unpleasant situation where it's not actually aligned with a canonical axis)
so if you are restricting to 0<= value <=1 you need to be prepared to flip the data (on one or more axes).
So... yes, tuple based Enum would be nice.

[2022-10-30 07:04] SimonBiggs commented on #1771
Yup, oops, between -1 and 1 (inclusive).

Yup tuple based Enum would work quite nicely I think...

[2022-10-30 07:27] SimonBiggs commented on #1771
So... Next question... Are we wanting to support a gamma function where the reference grid is one arbitrary orientation cosine tuple, and then the evaluation grid is potentially in another orientation cosine tuple?

I mean it's possible... But is that something that people are actually wanting to do?

[2022-10-30 07:32] sjswerdloff commented on #1771
And reject (in the code) if unsupported orientation combinations are detected...

[2022-10-30 07:35] SimonBiggs commented on #1771
That would require that the orientation Enum for each dose grid is input into the function. If we're not implementing any utilisation of the orientation, should we require that people provide it?

[2022-10-30 07:36] SimonBiggs commented on #1771
(contradicting my precious statement about requiring it everywhere)

[2022-10-30 07:49] sjswerdloff commented on #1771
How will someone know if the data meet the constraint?
Do we provide the means or do they know what will be exported by some piece of equipment apriori?
Perhaps a "suitability" test prior to the function doing the work (one level higher)?
I expect users will know what the Patient Position was.  I don't expect they will know for sure what the image orientation (Patient) will be.
I have no idea what

[2022-10-30 09:14] Matthew-Jennings commented on #1771
Perhaps this warrants a T/C discussion. But to summarise my thoughts:

- I think we should support all orientations encoded in at least the DICOM coord system. [We' ve had at least one feature request for saving gamma values back into an RTDOSE file](https://github.com/pymedphys/pymedphys/issues/1652). Most of the code is already in PyMedPhys and relatively well-verified. All we need is a suitable

[2022-10-30 09:18] Matthew-Jennings commented on #1771
Apologies, I hadn't refreshed before that comment (on my phone).

Will follow up on your comments a little later. A verbal discussion still might be iseful thougg

[2022-10-30 10:02] Matthew-Jennings commented on #1771
I'm trying to decide whether or not coordinate system suffices. Here is one frustrating application that I've run into (note this was a few years back, so things may have changed now):

- I was trying to display the same FFP dose grid imported and re-exported from two different TPS's (along with corresponding RTPLAN files).
- One TPS exported PixelData in such a way that

Yes, I like this solution

[2022-10-30 11:24] SimonBiggs commented on #1771
I'm not sure why we're choosing [k, j, i] order. That has me a little confused. Potentially I'm missing something here. I'm also wondering if we in general support the cosine orientations then we won't need custom code for different cases, instead just deal with the general 6 tuple with any number between -1 and 1...

I'm also wondering if we need anymore object specialisation beyond just making s

[2022-10-30 11:31] SimonBiggs commented on #1771
Yup, I think sticking to DICOM coordinates for now is enough to bite off and chew.

[2022-10-30 12:46] Matthew-Jennings commented on #1771
Sorry, I meant nothing profound there. Would've been better for me to write `dose[slice, row, column]`

Mmm... I'd prefer not to, but I'm not strongly opposed. We have ready code for the orthogonal cases, and I've _never seen_ an RTDOSE file contain non-unity, non-zero values in `ImageOrientationPatient`. I have seen CTs with slight skew (like 0.1 degrees) and thus non-zero, non-unity values, but

[2022-10-30 20:56] SimonBiggs commented on #1771
I'm not strongly for. I just personally have a bit of an aversion to a lot of if/elif/else cases. My reasoning being is that through experience, I find that these are much more likely to hide "edge case bugs". On the other hand, if I make all the code go through the same logic, and by bottlenecking the logic through one approach, then inadvertently through my own utilisation and testing I am able

[2022-10-30 21:18] SimonBiggs commented on #1771
And here's the bit where I convert the supported orientations into HFS:

https://github.com/RadiotherapyAI/rai/blob/model-use-first-pass/rai/data/images.py#L94-L120

[2022-10-30 21:28] SimonBiggs commented on #1771
A downside here, it will make users of functions require to creat the object, and potentially put in dummy placeholder information, if they just want to call the function directly. Even more so if in reality that particular function wouldn't actually require orientation or grid information.

Also, it's more explicit in my mind if the user is directly exposed to the grid and orientation objects (a

[2022-10-30 22:52] Matthew-Jennings commented on #1771
Mmm... I don't really see this as a problem. There is no harm in having optional parameters. DICOM itself is designed this way. Though I'd note that we might be imagining different objects here (of differing complexities).

You're assuming "required" inputs that "aren't" actually needed. I'm don't think that assumption applies to the object I'm imagining . I'm simply asking that we include the dos

[2022-10-30 22:59] SimonBiggs commented on #1771
Fair enough. Would a TypedDict object suffice? I've found TypedDict objects to give the best of both worlds:

https://github.com/RadiotherapyAI/raicontours/blob/main/raicontours/__init__.py#L36-L58

[2022-10-30 23:00] Matthew-Jennings commented on #1771
I still think an `xarray` solution is neat. It's designed for a very similar purpose to ours.

[2022-10-30 23:45] Matthew-Jennings commented on #1771
Just a reminder of `xarrays` lovely features:

[2022-10-30 23:52] SimonBiggs commented on #1771
Is there a project where you've regularly used `xarray` which you can point to these benefits playing out in the context of RT Dose?

[2022-10-31 05:36] Matthew-Jennings commented on #1771
Nothing substantial, but I think the advantages above speak for themselves. With very little code, one can easily:
- select / plot a dose slice **according to x/y/z-coordinate** (rather than ijk index)
   - excellent for fast plotting (which includes auto-labelling, btw!)
   - also good for dose plane extraction (e.g., for TPS comparison to film)
   - this feature includes a `nearest` flag and bui

[2022-10-31 05:51] SimonBiggs commented on #1771
Okay, I'm sold, I'm happy to give the go-ahead. But on the caveat that we do not let it into the public PyMedPhys API for a while until we've really given it a go within PyMedPhys' internal APIs and shown how awesome it is.

What are your thoughts on that front?

I propose for orientation we stick with a tuple based `Enum` and attach it to an attrs within the xarray, and for coords, we directly at

[2022-10-31 06:30] sjswerdloff commented on #1771
While you would think that the Patient Position would define the image orientation (patient) cosine vectors, they don't.
So as long as you aren't assuming that a data set that was taken with a patient being HFS had image orientation (patient) with the specific tuple you listed, that's o.k.  For HFS, it is highly likely to match up.
But I've seen CT data in the past that had the vectors flipped aro

[2022-10-31 06:33] SimonBiggs commented on #1771
Yup that's fair. I think we'd need to have a "load data from DICOM" function which would check both image orientation (patient) and Patient Position. And if the cosine vectors and the Patient Position information gave conflicting data, then that particular function would fail to load.

Do you think that'd be sufficient?

[2022-10-31 06:34] sjswerdloff commented on #1771
Definitely sufficient.

[2022-10-31 06:46] Matthew-Jennings commented on #1771
Yes, that's very fair.

But if I've misunderstood, and you are defining how things are going to come out, and the coords are taking care of that, fine. Or as long as data that doesn't fit the expectations is rejected (like I mentioned before).

I'm really sorry, I've re-read this a couple of times and I'm not sure I'm getting the point. Where is Patient Position mentioned? Are you noting that [`Im

[2022-10-31 07:25] sjswerdloff commented on #1771
I am noting that (in CT, or other image SOP Classes)
One can have a given value of
Patient Position (0018,5100) https://dicom.innolitics.com/ciods/ct-image/general-series/00185100
and the values for
Image Orientation (Patient) (0020,0037) https://dicom.innolitics.com/ciods/ct-image/image-plane/00200037
can vary.
There is no mandatory one to one mapping.
Image Orientation (Patient) defines the rela

[2022-10-31 07:28] sjswerdloff commented on #1771
`one needs the Patient Position (0018,5100). And that has no required correlation with either (0020,0037) nor (0020,0020).`
which is basically saying
`that the actual, real-world orientation of the patient may not match ImageOrientationPatient`

[2022-10-31 17:15] crcrewso commented on #1771
I think I found an updated reference as a 'recommendation' in the standard, so not a requirement.
[Official updated Part 17](https://dicom.nema.org/medical/dicom/current/output/pdf/part17.pdf)

[code]

I think this means that the fundamental requirement for understanding what the Patient Position means is dependant on the convention for the equipment type.

[2022-10-31 19:09] SimonBiggs commented on #1771
It's making me think that maybe an Enum is maybe the wrong way to go for the orientation. And instead, we should be looking at pulling out a subset of the pydicom header and essentially have an attrs called "header" and within that attrs item include the DICOM header dataset minus the image dataset.

At the end of the day we're trying to maintain compatibility with DICOM. Any proxy we invent will

[2022-10-31 23:05] Matthew-Jennings commented on #1771
Agree.

Agree.

-----

On reflection, I think it's possible that some of this back and forth on orientation is relatively inconsequential for at least our existing tools. For my part, I've only been interested in orientation insofar as I can _correctly assign xyz coordinates to the dosegrid / PixelData_. I might be mistaken, but I believe `ImageOrientationPatient` suffices for obtaining correct co

[2022-10-31 23:25] SimonBiggs commented on #1771
I think the sanity check of making sure the Patient Position tag matches expectation before we assign a tag to the orientation tuple like "HFS" will still be important. Maybe not in PyMedPhys at the moment, but the physical patient orientation is important for cases where from an image one needs to appropriately label things like patient left and patient right.

I expect whatever we choose here is

[2022-11-01 01:00] Matthew-Jennings commented on #1771
Yes, I'm sure there are cases. I'm just pointing out that it wouldn't matter for the situations I've observed that motivated me to create this Issue.

[2022-11-01 01:02] SimonBiggs commented on #1771
Yup, all good. I think we can probably close this issue? My thought is that it was primarily designed to come to consensus, and we've achieved that in almost record time :)

[2022-11-01 01:06] Matthew-Jennings commented on #1771
I'm not sure I agree with this. ImageOrientationPatient is designed only for matching the DICOM image/grid to a patient coordinate system. If I'm understanding @sjswerdloff correctly, "HFS" designates the orientation of the patient to the imaging equipment - a different thing entirely. Thus, it would seem to me that one should not expect the ImageOrientationPatient tuple to necessarily match Patie

[2022-11-01 01:11] Matthew-Jennings commented on #1771
Perhaps I can provide a summary in the OP? Does it seem reasonable to keep it open until at least some progress has been made with the implementation of said consensus.

[2022-11-01 01:16] SimonBiggs commented on #1771
As an aside, the following paper could help to implement transformations based on the orientation cosines by using standardised transformations:

https://arxiv.org/pdf/1406.0014

[2022-11-01 01:20] SimonBiggs commented on #1771
So... Instead should we align ourselves directly with DICOM nomenclature, not have an Enum, and not have any presumption of HFS being equivalent to (1, 0, 0, 0, 1, 0). Instead, take the approach of including the DICOM tag itself directly within the xarray attribute? Eg:

[code]

[2022-11-01 01:25] SimonBiggs commented on #1771
Whenever I have ever deviated from DICOM's data encoding approach... I've often come to regret it later...

[2022-11-01 01:32] Matthew-Jennings commented on #1771
If my interpretation above is correct, this would seem best.

Perhaps we can include a robust discussion on coordinate systems in the docs. Indeed, this could be *Technical Note* territory. It could state the *usual* situation of `HFS == (1, 0, 0, 0, 1, 0)`, etc. with a precise explanation of why this is the case and in which situations this might be expected to be false.

[2022-11-01 02:01] Matthew-Jennings commented on #1771
Two very useful links:

- https://www.slicer.org/wiki/Coordinate_systems
   - Nicely describes:
      -  a "world coord system" (I believe DICOM calls this the Isocenter Coordinate System - see [C.8.19.6.13.1.1](https://dicom.nema.org/medical/Dicom/2016e/output/chtml/part03/sect_C.8.19.6.13.html),
      - an "anatomical coord system" (for our discussion, the "DICOM Patient Coordinate System", desc

[2022-11-01 03:37] SimonBiggs commented on #1771
So, what then is the benefit of including both the `ImageOrientationPatient` and the coords? It is my assumption that those coords within the xarray are created by taking the `ImageOrientationPatient` and the `ImagePositionPatient`. And are effectively an alternative representation of of those two fields which successfully convert from i, j, k to x, y, z in patient coords as defined by an LPS coor

[2022-11-01 03:40] SimonBiggs commented on #1771
The only remaining scenario is in the cases when we want to convert in an approximate sense from patient coords -> world coords. Eg, for water tank scan verifications compared to TPS exports.

And in that case patient position is important. So, in reality, that may be the thing we should be passing around. And it should not be explicitly tied to any given `ImageOrientationPatient`

[2022-11-01 03:53] Matthew-Jennings commented on #1771
If the coords can definitely be reverse-engineered to give correct `ImagePositionPatient` and `ImageOrientationPatient` on a resave to DICOM, then perhaps not.

I'm scared of a situation where the relationship between image and patient system is lost (e.g., through some transformation or conversion to a different coord system). E.g., I think it's nice to retain the ability to convert a dose back t

[2022-11-01 03:58] Matthew-Jennings commented on #1771
So, I've just never seen `PatientPosition` in an RTDOSE file (is it even supported for this modality?). It *is* usually present in RTPLAN, but I really don't want to require linkage to a plan.

I just feel like we'll need `ImageOrientationPatient` to convert from patient to world and back, while relying on a constant relationship between world and image.

[2022-11-01 04:01] SimonBiggs commented on #1771
From what you said before, I was under the impression that `ImageOrientationPatient` isn't actually intended to be used for Patient -> World, but instead from Image -> Patient.

[2022-11-01 04:02] Matthew-Jennings commented on #1771
Yes, I added an edit note to my old post reflecting that oversight.

[2022-11-01 04:04] Matthew-Jennings commented on #1771
I suspect we can in fact leave it out, especially if we're instead including a `coord system` attribute. I think this is the most important.

[2022-11-01 07:20] sjswerdloff commented on #1771
PatientPosition (0018,5100) is not in RT Dose.
It is in CT, and it is in RT Plan (and RT Ion Plan).
RT Dose references RT Plan:
https://dicom.innolitics.com/ciods/rt-dose/rt-dose/300c0002
And it's mandatory.  More precisely, it is type 1C based on the Dose Summation Type (3004,000A)
The only exception is if the Dose Summation Type is RECORD.  In which case the reference to the RT (Ion) Beams Treat

[2022-11-01 11:47] SimonBiggs commented on #1771
Yes, and I've been bitten by this on multiple occasions...

[2022-11-01 21:57] Matthew-Jennings commented on #1771
Even with a connection available, users often manipulate RTDOSE files in isolation (thus not making use of said connection). Maybe they shouldn't / it's not necessary, but at the very least I've seen that RTDOSE-only manipulation is often supported by vendors (e.g., to load RTDOSE files for display or export RTDOSE files in absence of the RTPLAN).

Would you suggest that, where we construct our `x

[2022-11-02 03:26] SimonBiggs commented on #1046
A pull request is being created based on the following:
https://github.com/pymedphys/pymedphys/issues/1765

The branch where work is being undergone is at the following:
https://github.com/pymedphys/pymedphys/tree/trf-robustness

[2022-11-02 08:38] Matthew-Jennings commented on #1771
What are your thoughts on `ImagePositionPatient` as an imperfect default? Perhaps it's the best guess of orientation in the absence of `PatientPosition` or a user-entered value? I'll note that the relationship documented [here](https://github.com/pymedphys/pymedphys/blob/fd91592173bed1220cf5feb170f865226301ad60/lib/pymedphys/_dicom/coords.py#L95-L106) has held for the small sample of RTDOSE files

[2022-11-02 22:12] SimonBiggs commented on #1771
The definition that paper uses for Image Orientation Patient is the following:

, containing the direction
cosines for the first row and first column of this
 image with respect to a head-first supine DICOM
 coordinate system.

The definition within the DICOM standard is the following:

https://dicom.innolitics.com/ciods/ct-image/image-plane/00200037

Those two definitions aren't in alignment.

It

[2022-11-03 03:06] Matthew-Jennings commented on #1771
Mmm, I don't think that's clear. I'd say with high confidence that they intended the same definition and chose a confusing wording. In any case, it's not so important.

The bottom line question is: _should we use `ImagePositionPatient` to indicate a default orientation in the absence of a linked  RTPLANs `PatientPosition` or a user-specified value, or not?_

I personally think we might as well. At

[2022-11-03 06:04] sjswerdloff commented on #1771
I think it's reasonable to use ImagePositionPatient(0020,0037) as the means to provide a default PatientPosition if there's no RT (Ion) Plan available to provide the PatientPosition, especially if there's a warning that the Patient Position information is a best guess.

[2022-11-03 12:28] SimonBiggs commented on #1771
What do we have to gain from including it within the object?

[2022-11-03 13:16] Matthew-Jennings commented on #1771
Along with my aforementioned description of losing information through coord system conversion, rotations of the image grid for (e.g., for display purposes) will result in loss of orientation information.

The more I think on it, there more I really do feel that it's important to preserve the patient's orientation w.r.t. equipment, even if through an imperfect surrogate.

@SimonBiggs, correct me i

[2022-11-03 17:55] SimonBiggs commented on #1771
I'm not so keen on implicitly inferring something that we might be wrong about when the user is able to explicitly provide it. I don't see the harm in asking the user of a given function to need to provide the Patient -> World orientation via the three letter string. I don't think we should be undergoing implicit processes, without the user's explicit involvement that uses the Image -> Patient inf

[2022-11-04 04:45] Matthew-Jennings commented on #1771
...wouldn't it be fine? Why a world of hurt? So long as we've updated `ImageOrientationPatient` to reflect the image rotation, we're good, aren't we?

-----

I think a key point here is that it is my belief that the match between image coord system and world coord system is nearly universal for RTDOSE. So there is little need for such conservatism, especially when there exists no other indication

[2022-11-04 05:58] SimonBiggs commented on #1771
Let's have a call when you get the chance.

[2022-11-04 06:00] sjswerdloff commented on #1771
I propose we take a step back and examine this from a risk based approach.
1) What is the worst case harm that can occur from having the wrong relationship between patient and equipment/real world?
2) What is the probability of having the wrong relationship?
3) How obvious will it be to the user if they have the wrong relationship prior to taking an action that would cause harm to the patient?

@M

[2022-11-04 23:33] SimonBiggs commented on #1771
Actually, @Matthew-Jennings and I jumped on a phone call and worked out a solution together that met both of our concerns. It looks something like this:

[code]

Essentially, this would take a pixel array as the xarray. Create coords for the xarray using ImageOrientationPatient and the ImagePositionPatient. It would then look on the dataset and see if PatientPosition was within the dataset. If it

[2022-11-05 00:14] Matthew-Jennings commented on #1771
@SimonBiggs, perfect!

[2022-11-05 02:41] sjswerdloff commented on #1771
@SimonBiggs , that works for me.  None the less, I think it's still worth identifying the potential hazards  and their severity associated with getting the wrong conclusion about the PatientPosition, performing the high level function (gamma analysis) and then taking a clinical action based on the results.  That doesn't need to take place here (in this issue).
I'm perfectly fine with moving ahead

[2022-11-11 07:50] sjswerdloff opened #1772 "dependency issues when installing pymedphys[dicom] or pymedphys[user] for use in onkodicom"
This may not be a pymedphys issue, but:
https://github.com/didymo/OnkoDICOM/issues/248#issuecomment-1310167520

MacOS 12.5.1 (Monterey) on Apple Silicon (Arm64)...
The installation of OnkoDICOM is a bit unusual, in that one uses
poetry to configure a virtual environment (but not jump in to it immediately) then
poetry install
and then
poetry shell
(which starts up the virtual environment).
And then

[2022-11-21 01:11] SimonBiggs commented on #1772
That is interesting. It might be something that a quick video call might be able to get to the bottom of quite quickly? If you'd like to give that a shot, let me know, and we can book in something?

[2022-11-21 01:59] sjswerdloff commented on #1772
I'm going to dig in a bit more.  I managed to work around the issue with a try/except on the import in OnkoDICOM, but that disables the pseudonymisation feature.
I'll create a separate harness that performs the exact same import(s) of pymedphys to separate out potential sources of problems.
So I'll come back to you on this in about a week.
If I haven't figured things out by then, I will definitely

[2022-11-21 20:20] SimonBiggs opened #1774 "> Somehow i noticed that the auto-formatting was not accordingly to the old code"
That was a good call. After this PR we should do a no logic changes style code sweep that reruns the auto-formatter in order to make this not be an issue any longer...

_Originally posted by @SimonBiggs in https://github.com/pymedphys/pymedphys/pull/1773#discussion_r1027695167_

[2022-11-22 02:40] SimonBiggs commented on #1765
First PR completed over at:

https://github.com/pymedphys/pymedphys/pull/1773